<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.hd123.sardine.wms.dao.basicInfo.config.taskareaconfig.impl.TaskAreaConfigDaoImpl">
	<resultMap id="BaseResultMap" type="TaskAreaConfig">
		<id column="uuid" property="uuid" jdbcType="VARCHAR" />
		<result column="operatorUuid" property="operator.uuid"
			jdbcType="VARCHAR" />
		<result column="operatorCode" property="operator.code"
			jdbcType="VARCHAR" />
		<result column="operatorName" property="operator.name"
			jdbcType="VARCHAR" />
		<result column="companyUuid" property="companyUuid" jdbcType="VARCHAR" />
		<result column="taskArea" property="taskArea" jdbcType="VARCHAR" />
		<result column="version" property="version" jdbcType="LONGVARCHAR" />
	</resultMap>

	<insert id="insert" parameterType="TaskAreaConfig">
		insert into
		db_proxy.sardine_taskarea_config (
		uuid,
		operatorUuid,
		operatorCode,
		operatorName,
		companyUuid,
		taskArea,
		version
		) values(
		#{uuid,jdbcType=VARCHAR},
		#{operator.uuid,jdbcType=VARCHAR},
		#{operator.code,jdbcType=VARCHAR},
		#{operator.name,jdbcType=VARCHAR},
		#{companyUuid,jdbcType=VARCHAR},
		#{taskArea,jdbcType=VARCHAR},
		#{version,jdbcType=LONGVARCHAR}
		)
	</insert>

	<select id="getByOperator" parameterType="java.util.Map"
		resultMap="BaseResultMap">
		select t.* from db_proxy.sardine_taskarea_config
		t
		where
		t.operatorUuid = #{operatorUuid,jdbcType=VARCHAR}
		and
		t.companyUuid =
		#{companyUuid,jdbcType=VARCHAR}
	</select>
	
	<select id="get" parameterType="java.util.Map"
		resultMap="BaseResultMap">
		select t.* from db_proxy.sardine_taskarea_config
		t
		where
		t.uuid = #{uuid,jdbcType=VARCHAR}
		and
		t.companyUuid =
		#{companyUuid,jdbcType=VARCHAR}
	</select>

	<update id="update" parameterType="TaskAreaConfig">
		update db_proxy.sardine_taskarea_config
		<set>
			<if test="operator != null and operator.uuid != ''">
				operatorUuid = #{operator.uuid,jdbcType=VARCHAR},
			</if>
			<if test="operator != null and operator.code != ''">
				operatorCode = #{operator.code,jdbcType=VARCHAR},
			</if>
			<if test="operator != null and operator.name != ''">
				operatorName = #{operator.name,jdbcType=VARCHAR},
			</if>
			<if test="taskArea != null and taskArea != ''">
				taskArea = #{taskArea,jdbcType=VARCHAR},
			</if>
			version = #{version,
			jdbcType=LONGVARCHAR} + 1
		</set>
		where uuid = #{uuid,jdbcType=VARCHAR}
		and companyUuid =
		#{companyUuid,jdbcType=VARCHAR}
		and version = #{version,
		jdbcType=LONGVARCHAR}
	</update>

	<select id="queryByPage" parameterType="PageQueryDefinition"
		resultMap="BaseResultMap">
		select t.* from
		db_proxy.sardine_taskarea_config t
		where
		t.companyuuid
		=
		#{companyUuid,
		jdbcType=VARCHAR}
		<if test="operatorCode != null and operatorCode != ''">
			and t.operatorCode = #{operatorCode, jdbcType=VARCHAR}
		</if>
		<if test="operatorName != null and operatorName != ''">
			and t.operatorName = #{operatorName, jdbcType=VARCHAR}
		</if>
		<if test="sortField != null and sortField == 'categoryCode'">
			order by t.operatorCode ${orderDir}
		</if>
	</select>

	<delete id="remove" parameterType="java.util.Map">
		delete from
		db_proxy.sardine_taskarea_config
		where uuid = #{uuid, jdbcType=VARCHAR}
		and companyUuid =
		#{companyUuid,jdbcType=VARCHAR}
	</delete>

</mapper>