<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hd123.sardine.wms.dao.task.impl.TaskDaoImpl">
	<resultMap id="BaseResultMap" type="Task">
		<id column="uuid" property="uuid" jdbcType="VARCHAR" />
		<result column="taskNo" property="taskNo" jdbcType="VARCHAR" />
		<result column="taskType" property="taskType" jdbcType="VARCHAR" />
		<result column="articleUuid" property="article.uuid" jdbcType="VARCHAR" />
		<result column="articlecode" property="article.code" jdbcType="VARCHAR" />
		<result column="articlename" property="article.name" jdbcType="VARCHAR" />
		<result column="articleSpec" property="articleSpec" jdbcType="VARCHAR" />
		<result column="munit" property="munit" jdbcType="VARCHAR" />
		<result column="state" property="state" jdbcType="VARCHAR" />
		<result column="productionBatch" property="productionBatch"
			jdbcType="VARCHAR" />
		<result column="qpcStr" property="qpcStr" jdbcType="VARCHAR" />
		<result column="qty" property="qty" jdbcType="DECIMAL" />
		<result column="caseQtyStr" property="caseQtyStr" jdbcType="VARCHAR" />
		<result column="realQty" property="realQty" jdbcType="DECIMAL" />
		<result column="realCaseQtyStr" property="realCaseQtyStr"
			jdbcType="VARCHAR" />
		<result column="productionDate" property="productionDate"
			jdbcType="DATE" />
		<result column="validDate" property="validDate" jdbcType="DATE" />
		<result column="stockBatch" property="stockBatch" jdbcType="VARCHAR" />
		<result column="supplierUuid" property="supplier.uuid"
			jdbcType="VARCHAR" />
		<result column="supplierCode" property="supplier.code"
			jdbcType="VARCHAR" />
		<result column="supplierName" property="supplier.name"
			jdbcType="VARCHAR" />
		<result column="fromBinCode" property="fromBinCode" jdbcType="VARCHAR" />
		<result column="fromContainerBarcode" property="fromContainerBarcode"
			jdbcType="VARCHAR" />
		<result column="toBinCode" property="toBinCode" jdbcType="VARCHAR" />
		<result column="toContainerBarcode" property="toContainerBarcode"
			jdbcType="VARCHAR" />
		<result column="owner" property="owner" jdbcType="VARCHAR" />
		<result column="sourceBillType" property="sourceBillType"
			jdbcType="VARCHAR" />
		<result column="sourceBillNumber" property="sourceBillNumber"
			jdbcType="VARCHAR" />
		<result column="sourceBillUuid" property="sourceBillUuid"
			jdbcType="VARCHAR" />
		<result column="creatorUuid" property="creator.uuid" jdbcType="VARCHAR" />
		<result column="creatorcode" property="creator.code" jdbcType="VARCHAR" />
		<result column="creatorname" property="creator.name" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="VARCHAR" />
		<result column="operatorUuid" property="operator.uuid"
			jdbcType="VARCHAR" />
		<result column="operatorcode" property="operator.code"
			jdbcType="VARCHAR" />
		<result column="operatorname" property="operator.name"
			jdbcType="VARCHAR" />
		<result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
		<result column="beginOperateTime" property="beginOperateTime"
			jdbcType="TIMESTAMP" />
		<result column="endOperateTime" property="endOperateTime"
			jdbcType="TIMESTAMP" />
		<result column="version" property="version" jdbcType="LONGVARCHAR" />
		<result column="companyUuid" property="companyUuid" jdbcType="VARCHAR" />
	</resultMap>

	<resultMap id="TaskViewMap" type="TaskView">
		<id column="uuid" property="uuid" jdbcType="VARCHAR" />
		<result column="version" property="version" jdbcType="LONGVARCHAR" />
		<result column="companyUuid" property="companyUuid" jdbcType="VARCHAR" />
		<result column="billNumber" property="billNumber" jdbcType="VARCHAR" />
		<result column="state" property="state" jdbcType="VARCHAR" />
		<result column="owner" property="owner" jdbcType="VARCHAR" />
		<result column="articleUuid" property="article.uuid" jdbcType="VARCHAR" />
		<result column="articlecode" property="article.code" jdbcType="VARCHAR" />
		<result column="articlename" property="article.name" jdbcType="VARCHAR" />
		<result column="articleSpec" property="articleSpec" jdbcType="VARCHAR" />
		<result column="munit" property="munit" jdbcType="VARCHAR" />
		<result column="qpcStr" property="qpcStr" jdbcType="VARCHAR" />
		<result column="qty" property="qty" jdbcType="DECIMAL" />
		<result column="caseQtyStr" property="caseQtyStr" jdbcType="VARCHAR" />
		<result column="realQty" property="realQty" jdbcType="DECIMAL" />
		<result column="realCaseQtyStr" property="realCaseQtyStr"
			jdbcType="VARCHAR" />
		<result column="fromBinCode" property="fromBinCode" jdbcType="VARCHAR" />
		<result column="fromContainerBarcode" property="fromContainerBarcode"
			jdbcType="VARCHAR" />
		<result column="toBinCode" property="toBinCode" jdbcType="VARCHAR" />
		<result column="toContainerBarcode" property="toContainerBarcode"
			jdbcType="VARCHAR" />
		<result column="sourceBillType" property="sourceBill.billType"
			jdbcType="VARCHAR" />
		<result column="sourceBillNumber" property="sourceBill.billNumber"
			jdbcType="VARCHAR" />
		<result column="sourceBillUuid" property="sourceBill.billUuid"
			jdbcType="VARCHAR" />
		<result column="operator" property="operator" jdbcType="VARCHAR" />
		<result column="operateTime" property="operateTime" jdbcType="TIMESTAMP" />
		<result column="type" property="type" jdbcType="VARCHAR"/>
	</resultMap>

	<insert id="insert" parameterType="Task">
		insert into db_proxy.sardine_task
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="uuid != null">
				uuid,
			</if>
			<if test="taskNo != null">
				taskNo,
			</if>
			<if test="taskType != null">
				taskType,
			</if>
			<if test="article != null and article.uuid != null">
				articleuuid,
			</if>
			<if test="article != null and article.code != null">
				articlecode,
			</if>
			<if test="article != null and article.name != null">
				articlename,
			</if>
			<if test="articleSpec != null">
				articleSpec,
			</if>
			<if test="munit != null">
				munit,
			</if>
			<if test="state != null">
				state,
			</if>
			<if test="qpcStr != null">
				qpcStr,
			</if>
			<if test="qty != null">
				qty,
			</if>
			<if test="caseQtyStr != null">
				caseQtyStr,
			</if>
			<if test="realQty != null">
				realQty,
			</if>
			<if test="realCaseQtyStr != null">
				realCaseQtyStr,
			</if>
			<if test="productionDate != null">
				productionDate,
			</if>
			<if test="validDate != null">
				validDate,
			</if>
			<if test="productionBatch != null">
				productionBatch,
			</if>
			<if test="stockBatch != null">
				stockBatch,
			</if>
			<if test="supplier != null and supplier.uuid != null">
				supplieruuid,
			</if>
			<if test="supplier != null and supplier.code != null">
				suppliercode,
			</if>
			<if test="supplier != null and supplier.name != null">
				suppliername,
			</if>
			<if test="fromBinCode != null">
				fromBinCode,
			</if>
			<if test="fromContainerBarcode != null">
				fromContainerBarcode,
			</if>
			<if test="toBinCode != null">
				toBinCode,
			</if>
			<if test="toContainerBarcode != null">
				toContainerBarcode,
			</if>
			<if test="owner != null">
				owner,
			</if>
			<if test="sourceBillType != null">
				sourceBillType,
			</if>
			<if test="sourceBillNumber != null">
				sourceBillNumber,
			</if>
			<if test="sourceBillUuid != null">
				sourceBillUuid,
			</if>
			<if test="sourceBillLineUuid != null">
				sourceBillLineUuid,
			</if>
			<if test="creator != null and creator.uuid != null">
				creatoruuid,
			</if>
			<if test="creator != null and creator.code != null">
				creatorcode,
			</if>
			<if test="creator != null and creator.name != null">
				creatorname,
			</if>
			<if test="type != null">
				type,
			</if>
			<if test="operator != null and operator.uuid != null">
				operatoruuid,
			</if>
			<if test="operator != null and operator.code != null">
				operatorcode,
			</if>
			<if test="operator != null and operator.name != null">
				operatorname,
			</if>
			<if test="createTime != null">
				createTime,
			</if>
			<if test="beginOperateTime != null">
				beginOperateTime,
			</if>
			<if test="endOperateTime != null">
				endOperateTime,
			</if>
			<if test="companyUuid != null">
				companyUuid,
			</if>
			<if test="version != null">
				version,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="uuid != null">
				#{uuid,jdbcType=VARCHAR},
			</if>
			<if test="taskNo != null">
				#{taskNo,jdbcType=VARCHAR},
			</if>
			<if test="taskType != null">
				#{taskType,jdbcType=VARCHAR},
			</if>
			<if test="article != null and article.uuid != null">
				#{article.uuid,jdbcType=VARCHAR},
			</if>
			<if test="article != null and article.code != null">
				#{article.code,jdbcType=VARCHAR},
			</if>
			<if test="article != null and article.name != null">
				#{article.name,jdbcType=VARCHAR},
			</if>
			<if test="articleSpec != null">
				#{articleSpec,jdbcType=VARCHAR},
			</if>
			<if test="munit != null">
				#{munit,jdbcType=VARCHAR},
			</if>
			<if test="state != null">
				#{state,jdbcType=VARCHAR},
			</if>
			<if test="qpcStr != null">
				#{qpcStr,jdbcType=VARCHAR},
			</if>
			<if test="qty != null">
				#{qty,jdbcType=DECIMAL},
			</if>
			<if test="caseQtyStr != null">
				#{caseQtyStr,jdbcType=VARCHAR},
			</if>
			<if test="realQty != null">
				#{realQty,jdbcType=DECIMAL},
			</if>
			<if test="realCaseQtyStr != null">
				#{realCaseQtyStr,jdbcType=VARCHAR},
			</if>
			<if test="productionDate != null">
				#{productionDate,jdbcType=DATE},
			</if>
			<if test="validDate != null">
				#{validDate,jdbcType=DATE},
			</if>
			<if test="productionBatch != null">
				#{productionBatch,jdbcType=VARCHAR},
			</if>
			<if test="stockBatch != null">
				#{stockBatch,jdbcType=VARCHAR},
			</if>
			<if test="supplier != null and supplier.uuid != null">
				#{supplier.uuid,jdbcType=VARCHAR},
			</if>
			<if test="supplier != null and supplier.code != null">
				#{supplier.code,jdbcType=VARCHAR},
			</if>
			<if test="supplier != null and supplier.name != null">
				#{supplier.name,jdbcType=VARCHAR},
			</if>
			<if test="fromBinCode != null">
				#{fromBinCode,jdbcType=VARCHAR},
			</if>
			<if test="fromContainerBarcode != null">
				#{fromContainerBarcode,jdbcType=VARCHAR},
			</if>
			<if test="toBinCode != null">
				#{toBinCode,jdbcType=VARCHAR},
			</if>
			<if test="toContainerBarcode != null">
				#{toContainerBarcode,jdbcType=VARCHAR},
			</if>
			<if test="owner != null">
				#{owner,jdbcType=VARCHAR},
			</if>
			<if test="sourceBillType != null">
				#{sourceBillType,jdbcType=VARCHAR},
			</if>
			<if test="sourceBillNumber != null">
				#{sourceBillNumber,jdbcType=VARCHAR},
			</if>
			<if test="sourceBillUuid != null">
				#{sourceBillUuid,jdbcType=VARCHAR},
			</if>
			<if test="sourceBillLineUuid != null">
				#{sourceBillLineUuid,jdbcType=VARCHAR},
			</if>
			<if test="creator != null and creator.uuid != null">
				#{creator.uuid,jdbcType=VARCHAR},
			</if>
			<if test="creator != null and creator.code != null">
				#{creator.code,jdbcType=VARCHAR},
			</if>
			<if test="creator != null and creator.name != null">
				#{creator.name,jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				#{type,jdbcType=VARCHAR},
			</if>
			<if test="operator != null and operator.uuid != null">
				#{operator.uuid,jdbcType=VARCHAR},
			</if>
			<if test="operator != null and operator.code != null">
				#{operator.code,jdbcType=VARCHAR},
			</if>
			<if test="operator != null and operator.name != null">
				#{operator.name,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="beginOperateTime != null">
				#{beginOperateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="endOperateTime != null">
				#{endOperateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="companyUuid != null">
				#{companyUuid,jdbcType=VARCHAR},
			</if>
			<if test="version != null">
				#{version,jdbcType=LONGVARCHAR},
			</if>
		</trim>
	</insert>

	<insert id="insertItem" parameterType="TaskStockItem">
		insert into db_proxy.sardine_taskItem
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="uuid != null">
				uuid,
			</if>
			<if test="taskUuid != null">
				taskUuid,
			</if>
			<if test="supplierUuid != null">
				supplierUuid,
			</if>
			<if test="binCode != null">
				binCode,
			</if>
			<if test="containerBarcode != null">
				containerBarcode,
			</if>
			<if test="articleUuid != null">
				articleUuid,
			</if>
			<if test="stockBatch != null">
				stockBatch,
			</if>
			<if test="productionDate != null">
				productionDate,
			</if>
			<if test="validDate != null">
				validDate,
			</if>
			<if test="qty != null">
				qty,
			</if>
			<if test="qpcStr != null">
				qpcStr,
			</if>
			<if test="measureUnit != null">
				measureUnit,
			</if>
			<if test="price != null">
				price,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="uuid != null">
				#{uuid,jdbcType=VARCHAR},
			</if>
			<if test="taskUuid != null">
				#{taskUuid,jdbcType=VARCHAR},
			</if>
			<if test="supplierUuid != null">
				#{supplierUuid,jdbcType=VARCHAR},
			</if>
			<if test="binCode != null">
				#{binCode,jdbcType=VARCHAR},
			</if>
			<if test="containerBarcode != null">
				#{containerBarcode,jdbcType=VARCHAR},
			</if>
			<if test="articleUuid != null">
				#{articleUuid,jdbcType=VARCHAR},
			</if>
			<if test="stockBatch != null">
				#{stockBatch,jdbcType=VARCHAR},
			</if>
			<if test="productionDate != null">
				#{productionDate,jdbcType=DATE},
			</if>
			<if test="validDate != null">
				#{validDate,jdbcType=DATE},
			</if>
			<if test="qty != null">
				#{qty,jdbcType=DECIMAL},
			</if>
			<if test="qpcStr != null">
				#{qpcStr,jdbcType=VARCHAR},
			</if>
			<if test="measureUnit != null">
				#{measureUnit,jdbcType=VARCHAR},
			</if>
			<if test="price != null">
				#{price,jdbcType=DECIMAL},
			</if>
		</trim>
	</insert>

	<update id="update" parameterType="Task">
		update db_proxy.sardine_task t
		<set>
			<if test="state != null">
				t.state = #{state, jdbcType=VARCHAR},
			</if>
			<if test="realQty != null">
				t.realQty = #{realQty, jdbcType=DECIMAL},
			</if>
			<if test="realCaseQtyStr != null">
				t.realCaseQtyStr = #{realCaseQtyStr, jdbcType=VARCHAR},
			</if>
			<if test="productionDate != null">
				t.productionDate = #{productionDate, jdbcType=DATE},
			</if>
			<if test="validDate != null">
				t.validDate = #{validDate, jdbcType=DATE},
			</if>
			<if test="stockBatch != null">
				t.stockBatch = #{stockBatch, jdbcType=VARCHAR},
			</if>
			<if test="supplier != null and supplier.uuid != null">
				t.supplierUuid = #{supplier.uuid, jdbcType=VARCHAR},
			</if>
			<if test="toBinCode != null">
				t.toBinCode = #{toBinCode, jdbcType=VARCHAR},
			</if>
			<if test="toContainerBarcode != null">
				t.toContainerBarcode = #{toContainerBarcode,
				jdbcType=VARCHAR},
			</if>
			<if test="owner != null">
				t.owner = #{owner, jdbcType=VARCHAR},
			</if>
			<if test="type != null">
				t.type = #{type, jdbcType=VARCHAR},
			</if>
			<if test="operator != null and operator.uuid != null">
				t.operatoruuid = #{operator.uuid, jdbcType=VARCHAR},
			</if>
			<if test="operator != null and operator.code != null">
				t.operatorcode = #{operator.code, jdbcType=VARCHAR},
			</if>
			<if test="operator != null and operator.name != null">
				t.operatorname = #{operator.name, jdbcType=VARCHAR},
			</if>
			<if test="beginOperateTime != null">
				t.beginOperateTime = #{beginOperateTime,
				jdbcType=TIMESTAMP},
			</if>
			<if test="endOperateTime != null">
				t.endOperateTime = #{endOperateTime, jdbcType=TIMESTAMP},
			</if>
			t.version = #{version, jdbcType=LONGVARCHAR} + 1,
		</set>
		where t.uuid = #{uuid,
		jdbcType=VARCHAR}
		and t.version = #{version,
		jdbcType=LONGVARCHAR}
	</update>

	<select id="get" parameterType="java.util.Map" resultMap="BaseResultMap">
		select
		t.* from
		db_proxy.sardine_task t
		where t.uuid = #{uuid,
		jdbcType=VARCHAR}
	</select>

	<select id="queryByList" parameterType="PageQueryDefinition"
		resultMap="TaskViewMap">
		select DISTINCT v.* from
		db_proxy.sardine_task_view
		v,db_proxy.sardine_task t,
		db_proxy.sardine_rplbill r,
		db_proxy.sardine_pickupbill p
		where 1=1
		<if test="taskType != null  and taskType.name !='Rpl' ">
			and v.uuid=t.uuid
			and
			t.taskType=#{taskType,jdbcType=VARCHAR}
		</if>
		<if test="taskType != null  and taskType.name =='Rpl' ">
			and v.uuid=r.uuid
		</if>
		<if test="state != null and state != ''">
			and v.state = #{state,jdbcType=VARCHAR}
		</if>

		<!-- <if test="states != null and states.size > 0"> and v.state in <foreach 
			collection="states" item="item" index="index" open="(" separator="," close=")"> 
			#{item} </foreach> </if> -->
		<if test="fromContainerBarcode != null and fromContainerBarcode != 
			''"> and v.fromContainerBarcode =
			#{fromContainerBarcode,jdbcType=VARCHAR}
		</if>
		<if test="toContainerBarcode != null and toContainerBarcode != ''">
			and v.toContainerBarcode = #{toContainerBarcode,jdbcType=VARCHAR}
		</if>
		<if test="type != null and type != ''">
			and v.type = #{type,jdbcType=VARCHAR}
		</if>
		<if test="operator != null and operator != ''"> 
		 and v.operator like CONCAT(CONCAT('%',#{operator,
			jdbcType=VARCHAR}),'%') 
		</if> 
		<if test="owner != null and owner != ''"> 
		 and v.owner like CONCAT(CONCAT('%',#{owner,
			jdbcType=VARCHAR}),'%') 
		</if> 
		<if test="sourceBillNumber != null and sourceBillNumber != ''"> 
		 and v.sourceBillNumber = #{sourceBill.billNumber,jdbcType=VARCHAR}
		</if> 
		<if test="articleCode != null and articleCode != ''">
			and v.articleCode like CONCAT(CONCAT('%',
			#{articleCode,jdbcType=VARCHAR}),
			'%')
		</if>
		<if test="companyUuid != null and companyUuid != ''">
			and v.companyUuid=#{companyUuid,jdbcType=VARCHAR}
		</if>
	</select>
</mapper>
