<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hd123.sardine.wms.dao.basicInfo.category.impl.CategoryDaoImpl">
	<resultMap id="BaseResultMap" type="com.hd123.sardine.wms.api.basicInfo.category.Category">
		<id column="uuid" property="uuid" jdbcType="VARCHAR" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="upperCategory" property="upperCategory" jdbcType="VARCHAR" />
		<result column="companyUuid" property="companyUuid" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="createdtime" property="createInfo.time"
			jdbcType="TIMESTAMP" />
		<result column="createdID" property="createInfo.operator.id"
			jdbcType="VARCHAR" />
		<result column="createdcode" property="createInfo.operator.code"
			jdbcType="VARCHAR" />
		<result column="createdName" property="createInfo.operator.fullName"
			jdbcType="VARCHAR" />
		<result column="lastModifytime" property="lastModifyInfo.time"
			jdbcType="TIMESTAMP" />
		<result column="lastModifyid" property="lastModifyInfo.operator.id"
			jdbcType="VARCHAR" />
		<result column="lastModifycode" property="lastModifyInfo.operator.code"
			jdbcType="VARCHAR" />
		<result column="lastModifyname" property="lastModifyInfo.operator.fullName"
			jdbcType="VARCHAR" />
		<result column="version" property="version" jdbcType="LONGVARCHAR" />
	</resultMap>

	<delete id="removeCategory" parameterType="java.util.Map">
		delete from
		db_proxy.sardine_category
		where
		uuid
		= #{uuid,jdbcType=VARCHAR}
		and version =
		#{version,jdbcType=LONGVARCHAR}
	</delete>

	<select id="get" parameterType="java.lang.String" resultMap="BaseResultMap">
		select u.* from db_proxy.sardine_category u
		where u.uuid = #{uuid,jdbcType=VARCHAR}
	</select>

	<select id="getByCode" parameterType="java.util.Map" resultMap="BaseResultMap">
		select t.* from db_proxy.sardine_category t
		where t.code = #{code,jdbcType=VARCHAR}
		and t.companyUuid = #{companyUuid,jdbcType=VARCHAR}
	</select>
	
	<select id="getRootCategorys" parameterType="java.lang.String" resultMap="BaseResultMap">
		select t.* from db_proxy.sardine_category t
		where t.upperCategory = '-' 
		and t.companyUuid = #{companyUuid,jdbcType=VARCHAR}
	</select>
	
	<select id="getLowerCategorys" parameterType="java.lang.String" resultMap="BaseResultMap">
		select t.* from db_proxy.sardine_category t
		where t.upperCategory = #{categoryUuid,jdbcType=VARCHAR}
	</select>
	
    <select id="queryLastLower" parameterType="com.hd123.sardine.wms.common.query.PageQueryDefinition" resultMap="BaseResultMap">
		select c.* from db_proxy.sardine_category c where c.uuid not in (
           select cc.uppercategory from db_proxy.sardine_category cc)
           and c.companyUuid = #{companyUuid, jdbcType=VARCHAR}
           <if test="code != null and code != ''">
             and c.code = #{code, jdbcType=VARCHAR}
           </if>
           <if test="name != null and name != ''">
             and c.name = #{name, jdbcType=VARCHAR}
           </if>
	</select>

	<insert id="insert" parameterType="com.hd123.sardine.wms.api.basicInfo.category.Category">
		insert into db_proxy.sardine_category
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="uuid != null">
				uuid,
			</if>
			<if test="code != null">
				code,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="upperCategory != null">
				upperCategory,
			</if>
			<if test="companyUuid != null">
				companyUuid,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="createInfo != null  and createInfo.time != null">
				CREATEDTIME,
			</if>
			<if test="createInfo != null and createInfo.operator != null and createInfo.operator.id != null">
				CREATEDID,
			</if>
			<if test="createInfo != null and createInfo.operator != null and createInfo.operator.code != null">
				CREATEDCode,
			</if>
			<if test="createInfo != null and createInfo.operator != null and createInfo.operator.fullName != null">
				CREATEDName,
			</if>
			<if test="lastModifyInfo != null  and lastModifyInfo.time != null">
				LASTMODIFYTIME,
			</if>
			<if test="lastModifyInfo != null and lastModifyInfo.operator != null and lastModifyInfo.operator.id != null">
				LASTMODIFYID,
			</if>
			<if test="lastModifyInfo != null and lastModifyInfo.operator != null and lastModifyInfo.operator.code != null">
				LASTMODIFYCode,
			</if>
			<if test="lastModifyInfo != null and lastModifyInfo.operator != null and lastModifyInfo.operator.fullName != null">
				LASTMODIFYName,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="uuid != null">
				#{uuid,jdbcType=VARCHAR},
			</if>
			<if test="code != null">
				#{code,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="upperCategory != null">
				#{upperCategory,jdbcType=VARCHAR},
			</if>
			<if test="companyUuid != null">
				#{companyUuid,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="createInfo != null  and createInfo.time != null">
				#{createInfo.time,jdbcType=TIMESTAMP},
			</if>
			<if test="createInfo != null and createInfo.operator != null and createInfo.operator.id != null">
				#{createInfo.operator.id,jdbcType=VARCHAR},
			</if>
			<if test="createInfo != null and createInfo.operator != null and createInfo.operator.code != null">
				#{createInfo.operator.code,jdbcType=VARCHAR},
			</if>
			<if test="createInfo != null and createInfo.operator != null and createInfo.operator.fullName != null">
				#{createInfo.operator.fullName,jdbcType=VARCHAR},
			</if>
			<if test="lastModifyInfo != null  and lastModifyInfo.time != null">
				#{lastModifyInfo.time,jdbcType=TIMESTAMP},
			</if>
			<if test="lastModifyInfo != null and lastModifyInfo.operator != null and lastModifyInfo.operator.id != null">
				#{lastModifyInfo.operator.id,jdbcType=VARCHAR},
			</if>
			<if test="lastModifyInfo != null and lastModifyInfo.operator != null and lastModifyInfo.operator.code != null">
				#{lastModifyInfo.operator.code,jdbcType=VARCHAR},
			</if>
			<if test="lastModifyInfo != null and lastModifyInfo.operator != null and lastModifyInfo.operator.fullName != null">
				#{lastModifyInfo.operator.fullName,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<update id="update" parameterType="com.hd123.sardine.wms.api.basicInfo.category.Category">
		update db_proxy.sardine_category
		<set>
			code = #{code,jdbcType=VARCHAR},
			name = #{name,jdbcType=VARCHAR},
			remark = #{remark,jdbcType=CHAR},
			version = #{version,jdbcType=LONGVARCHAR} +	1,
			<if test="lastModifyInfo != null and lastModifyInfo.time != null">
				LASTMODIFYTIME =
				#{lastModifyInfo.time,jdbcType=TIMESTAMP},
			</if>
			<if	test="lastModifyInfo != null and lastModifyInfo.operator != null and lastModifyInfo.operator.id != null">
				LASTMODIFYID =
				#{lastModifyInfo.operator.id,jdbcType=VARCHAR},
			</if>
			<if	test="lastModifyInfo != null and lastModifyInfo.operator != null and lastModifyInfo.operator.code != null">
				LASTMODIFYCODE =
				#{lastModifyInfo.operator.code,jdbcType=VARCHAR},
			</if>
			<if	test="lastModifyInfo != null and lastModifyInfo.operator != null and lastModifyInfo.operator.fullName != null">
				LASTMODIFYNAME =
				#{lastModifyInfo.operator.fullName,jdbcType=VARCHAR},
			</if>
		</set>
		where uuid = #{uuid,jdbcType=VARCHAR}
		and version = #{version,jdbcType=LONGVARCHAR}
	</update>
</mapper>