<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hd123.sardine.wms.dao.ia.resource.impl.ResourceDaoImpl">
	<resultMap type="Resource" id="BaseResultMap">
		<id column="uuid" property="uuid" jdbcType="VARCHAR" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="upperUuid" property="upperUuid" jdbcType="VARCHAR" />
		<result column="type" property="type" jdbcType="VARCHAR" />
	</resultMap>

	<insert id="saveRoleResource" parameterType="map">
		insert into
		db_proxy.sardine_role_resource(
		roleuuid,
		resourceuuid
		)
		values(
		#{roleUuid,jdbcType=VARCHAR},
		#{resourceUuid,jdbcType=VARCHAR}
		)
	</insert>

	<insert id="saveUserResource" parameterType="map">
		insert into
		db_proxy.sardine_user_resource(
		useruuid,
		resourceuuid
		)
		values(
		#{userUuid,jdbcType=VARCHAR},
		#{resourceUuid,jdbcType=VARCHAR}
		)
	</insert>

	<select id="queryAllTopMenuResource"  resultMap="BaseResultMap">
		select r.* from db_proxy.sardine_resource r
		where
		r.upperuuid is null
	</select>

	<select id="queryOwnedTopMenuResourceByRole" parameterType="java.lang.String" resultMap="BaseResultMap">
		select r.* from db_proxy.sardine_role_resource rr,sardine_resource r
		where rr.resourceuuid=r.uuid
		and r.upperuuid is null
		and rr.roleuuid=#{roleUuid,jdbcType=VARCHAR}
	</select>

	<select id="queryOwnedTopMenuResourceByUser" parameterType="java.lang.String" resultMap="BaseResultMap">
		select r.* from sardine_user_resource ur,sardine_resource r
		where ur.resourceuuid=r.uuid
		and r.upperuuid is null	
		and ur.useruuid=#{userUuid,jdbcType=VARCHAR}
	</select>
	
	<select id="queryAllChildResource" parameterType="java.lang.String" resultMap="BaseResultMap">
		select r.* from sardine_resource r
		where r.upperuuid=#{resourceUuid,jdbcType=VARCHAR}
	</select>
	
	<select id="queryOwnedChildResourceByRole" parameterType="map" resultMap="BaseResultMap">
		select r.* from sardine_resource r,db_proxy.sardine_role_resource rr
		where rr.resourceuuid=r.uuid
		and r.upperuuid=#{resourceUuid,jdbcType=VARCHAR}
		and rr.roleuuid=#{roleUuid,jdbcType=VARCHAR}
	</select>
	
	<select id="queryOwnedChildResourceByUser" parameterType="map" resultMap="BaseResultMap">
		select r.* from sardine_resource r,sardine_user_resource ur
		where ur.resourceuuid=r.uuid
		and r.upperuuid=#{resourceUuid,jdbcType=VARCHAR}
		and ur.useruuid=#{userUuid,jdbcType=VARCHAR}
	</select>

	<delete id="removeResourceByUser" parameterType="java.lang.String">
		delete from
		sardine_user_resource where useruuid=#{useruuid,jdbcType=VARCHAR}
	</delete>

	<delete id="removeResourceByRole" parameterType="java.lang.String">
		delete from
		db_proxy.sardine_role_resource where roleuuid=#{useruuid,jdbcType=VARCHAR}
	</delete>

</mapper>