<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.hd123.sardine.wms.dao.basicInfo.config.impl.SystemConfigDaoImpl">
	<resultMap id="ArticleConfigMap" type="ArticleConfig">
		<result column="articleUuid" property="articleUuid" jdbcType="VARCHAR" />
		<result column="companyUuid" property="companyUuid" jdbcType="VARCHAR" />
		<result column="putawayBin" property="putawayBin" jdbcType="VARCHAR" />
		<result column="fixedPickBin" property="fixedPickBin" jdbcType="VARCHAR" />
		<result column="lowQty" property="lowQty" jdbcType="DECIMAL" />
		<result column="highQty" property="highQty" jdbcType="DECIMAL" />
		<result column="storageArea" property="storageArea"
			jdbcType="VARCHAR" />
		<result column="qpcStr" property="qpcStr"
			jdbcType="VARCHAR" />
	</resultMap>

	<insert id="insertArticleConfig" parameterType="ArticleConfig">
		insert into db_proxy.sardine_article_config (
		articleUuid,
		companyUuid,
		putawayBin,
		fixedPickBin,
		lowQty,
		highQty,
		storageArea,
		qpcStr
		) values(
		#{articleUuid,jdbcType=VARCHAR},
		#{companyUuid,jdbcType=VARCHAR},
		#{putawayBin,jdbcType=VARCHAR},
		#{fixedPickBin,jdbcType=VARCHAR},
		#{lowQty,jdbcType=DECIMAL},
		#{highQty,jdbcType=DECIMAL},
		#{storageArea,jdbcType=VARCHAR},
		#{qpcStr,jdbcType=VARCHAR}
		)
	</insert>

	<select id="getArticleConfig" parameterType="java.util.Map" resultMap="ArticleConfigMap">
		select t.* from db_proxy.sardine_article_config t
		where t.articleUuid = #{articleUuid,jdbcType=VARCHAR}
		and t.companyUuid =
		#{companyUuid,jdbcType=VARCHAR}
	</select>

	<update id="updateArticleConfig" parameterType="ArticleConfig">
		update db_proxy.sardine_article_config
		<set>
		    <if test="fixedPickBin != null and fixedPickBin != ''">
		      fixedPickBin = #{fixedPickBin,jdbcType=VARCHAR},
		    </if>
		    <if test="putawayBin != null">
		      putawayBin = #{putawayBin,jdbcType=VARCHAR},
		    </if>
		    <if test="storageArea != null and storageArea != ''">
		      storageArea = #{storageArea,jdbcType=VARCHAR},
		    </if>
		    <if test="qpcStr != null and qpcStr != ''">
		      qpcStr = #{qpcStr,jdbcType=VARCHAR},
		    </if>
		    <if test="lowQty != null">
		      lowQty = #{lowQty,jdbcType=DECIMAL},
		    </if>
		    <if test="highQty != null">
		      highQty = #{highQty,jdbcType=DECIMAL},
		    </if>
		</set>
		where articleUuid = #{articleUuid,jdbcType=VARCHAR}
		and companyUuid =
		#{companyUuid,jdbcType=VARCHAR}
	</update>
</mapper>