<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.hd123.sardine.wms.dao.in.receive.impl.ReceiveBillDaoImpl">
	<resultMap id="ReceiveBillMap"
		type="com.hd123.sardine.wms.api.in.receive.ReceiveBill">
		<id column="uuid" property="uuid" jdbcType="VARCHAR" />
		<result column="version" property="version" jdbcType="LONGVARCHAR" />
		<result column="billNumber" property="billNumber" jdbcType="VARCHAR" />
		<result column="supplieruuid" property="supplier.uuid"
			jdbcType="VARCHAR" />
		<result column="suppliercode" property="supplier.code"
			jdbcType="VARCHAR" />
		<result column="suppliername" property="supplier.name"
			jdbcType="VARCHAR" />
		<result column="wrhuuid" property="wrh.uuid" jdbcType="VARCHAR" />
		<result column="wrhcode" property="wrh.code" jdbcType="VARCHAR" />
		<result column="wrhname" property="wrh.name" jdbcType="VARCHAR" />
		<result column="receiveruuid" property="receiver.uuid"
			jdbcType="VARCHAR" />
		<result column="receivercode" property="receiver.code"
			jdbcType="VARCHAR" />
		<result column="receivername" property="receiver.name"
			jdbcType="VARCHAR" />
		<result column="companyUuid" property="companyUuid" jdbcType="VARCHAR" />
		<result column="state" property="state" jdbcType="VARCHAR" />
		<result column="method" property="method" jdbcType="VARCHAR" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="caseQtyStr" property="caseQtyStr" jdbcType="VARCHAR" />
		<result column="orderBillNumber" property="orderBillNumber"
			jdbcType="VARCHAR" />
		<result column="totalAmount" property="totalAmount" jdbcType="DECIMAL" />
		<result column=" createdtime" property="createInfo.time"
			jdbcType="TIMESTAMP" />
		<result column="createdID" property="createInfo.operator.id"
			jdbcType="VARCHAR" />
		<result column="createdcode" property="createInfo.operator.code"
			jdbcType="VARCHAR" />
		<result column="createdName" property="createInfo.operator.fullName"
			jdbcType="VARCHAR" />
		<result column="lastModifytime" property="lastModifyInfo.time"
			jdbcType="TIMESTAMP" />
		<result column="lastModifyid" property="lastModifyInfo.operator.id"
			jdbcType="VARCHAR" />
		<result column="lastModifycode" property="lastModifyInfo.operator.code"
			jdbcType="VARCHAR" />
		<result column="lastModifyname" property="lastModifyInfo.operator.fullName"
			jdbcType="VARCHAR" />
	</resultMap>

	<resultMap id="ReceiveBillItemMap"
		type="com.hd123.sardine.wms.api.in.receive.ReceiveBillItem">
		<id column="uuid" property="uuid" jdbcType="VARCHAR" />
		<result column="receiveBillUuid" property="receiveBillUuid"
			jdbcType="VARCHAR" />
		<result column="line" property="line" jdbcType="DECIMAL" />
		<result column="binCode" property="binCode" jdbcType="VARCHAR" />
		<result column="qpcStr" property="qpcStr" jdbcType="VARCHAR" />
		<result column="qty" property="qty" jdbcType="DECIMAL" />
		<result column="caseQtyStr" property="caseQtyStr" jdbcType="VARCHAR" />
		<result column="produceDate" property="produceDate" jdbcType="TIMESTAMP" />
		<result column="validDate" property="validDate" jdbcType="TIMESTAMP" />
		<result column="receiveDate" property="receiveDate" jdbcType="TIMESTAMP" />
		<result column="stockBatch" property="stockBatch" jdbcType="VARCHAR" />
		<result column="containerBarcode" property="containerBarcode"
			jdbcType="VARCHAR" />
		<result column="articleUuid" property="article.uuid" jdbcType="VARCHAR" />
		<result column="articleCode" property="article.code" jdbcType="VARCHAR" />
		<result column="articleName" property="article.name" jdbcType="VARCHAR" />
		<result column="articleSpec" property="articleSpec" jdbcType="VARCHAR" />
		<result column="munit" property="munit" jdbcType="VARCHAR" />
		<result column="orderBillLineUuid" property="orderBillLineUuid"
			jdbcType="VARCHAR" />
		<result column="price" property="price" jdbcType="DECIMAL" />
	</resultMap>

	<insert id="insert" parameterType="com.hd123.sardine.wms.api.in.receive.ReceiveBill">
		insert into db_proxy.sardine_receivebill
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="uuid != null">
				uuid,
			</if>
			<if test="billNumber != null">
				billNumber,
			</if>
			<if test="supplier != null and supplier.uuid != null">
				supplieruuid,
			</if>
			<if test="supplier != null and supplier.code != null">
				suppliercode,
			</if>
			<if test="supplier != null and supplier.name != null">
				suppliername,
			</if>
			<if test="companyUuid != null">
				companyUuid,
			</if>
			<if test="state != null">
				state,
			</if>
			<if test="orderBillNumber != null">
				orderBillNumber,
			</if>
			<if test="wrh != null and wrh.uuid != null">
				wrhuuid,
			</if>
			<if test="wrh != null and wrh.code != null">
				wrhcode,
			</if>
			<if test="wrh != null and wrh.name != null">
				wrhname,
			</if>
			<if test="method != null">
				method,
			</if>
			<if test="remark != null">
				remark,
			</if>
			<if test="receiver != null and receiver.uuid != null">
				receiveruuid,
			</if>
			<if test="receiver != null and receiver.code != null">
				receivercode,
			</if>
			<if test="receiver != null and receiver.name != null">
				receivername,
			</if>
			<if test="caseQtyStr != null">
				caseQtyStr,
			</if>
			<if test="totalAmount != null">
				totalAmount,
			</if>
			version,
			CREATEDTIME,
			CREATEDID,
			CREATEDCODE,
			CREATEDNAME,
			LASTMODIFYTIME,
			LASTMODIFYID,
			LASTMODIFYCODE,
			LASTMODIFYNAME,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="uuid != null">
				#{uuid,jdbcType=VARCHAR},
			</if>
			<if test="billNumber != null">
				#{billNumber,jdbcType=VARCHAR},
			</if>
			<if test="supplier != null and supplier.uuid != null">
				#{supplier.uuid,jdbcType=VARCHAR},
			</if>
			<if test="supplier != null and supplier.code != null">
				#{supplier.code,jdbcType=VARCHAR},
			</if>
			<if test="supplier != null and supplier.name != null">
				#{supplier.name,jdbcType=VARCHAR},
			</if>
			<if test="companyUuid != null">
				#{companyUuid,jdbcType=VARCHAR},
			</if>
			<if test="state != null">
				#{state,jdbcType=VARCHAR},
			</if>
			<if test="orderBillNumber != null">
				#{orderBillNumber,jdbcType=VARCHAR},
			</if>
			<if test="wrh != null and wrh.uuid != null">
				#{wrh.uuid,jdbcType=VARCHAR},
			</if>
			<if test="wrh != null and wrh.code != null">
				#{wrh.code,jdbcType=VARCHAR},
			</if>
			<if test="wrh != null and wrh.name != null">
				#{wrh.name,jdbcType=VARCHAR},
			</if>
			<if test="method != null">
				#{method,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="receiver != null and receiver.uuid != null">
				#{receiver.uuid,jdbcType=VARCHAR},
			</if>
			<if test="receiver != null and receiver.code != null">
				#{receiver.code,jdbcType=VARCHAR},
			</if>
			<if test="receiver != null and receiver.name != null">
				#{receiver.name,jdbcType=VARCHAR},
			</if>
			<if test="caseQtyStr != null">
				#{caseQtyStr,jdbcType=VARCHAR},
			</if>
			<if test="totalAmount != null">
				#{totalAmount,jdbcType=DECIMAL},
			</if>
			#{version,jdbcType=LONGVARCHAR},
			#{createInfo.time,jdbcType=TIMESTAMP},
			#{createInfo.operator.id,jdbcType=VARCHAR},
			#{createInfo.operator.code,jdbcType=VARCHAR},
			#{createInfo.operator.fullName,jdbcType=VARCHAR},
			#{lastModifyInfo.time,jdbcType=TIMESTAMP},
			#{lastModifyInfo.operator.id,jdbcType=VARCHAR},
			#{lastModifyInfo.operator.code,jdbcType=VARCHAR},
			#{lastModifyInfo.operator.fullName,jdbcType=VARCHAR},
		</trim>
	</insert>

	<update id="update" parameterType="com.hd123.sardine.wms.api.in.receive.ReceiveBill">
		update db_proxy.sardine_receivebill
		<set>
			<if test="supplier != null and supplier.uuid != null">
				supplieruuid = #{supplier.uuid,jdbcType=VARCHAR},
			</if>
			<if test="supplier != null and supplier.code != null">
				suppliercode = #{supplier.code,jdbcType=VARCHAR},
			</if>
			<if test="supplier != null and supplier.name != null">
				suppliername = #{supplier.name,jdbcType=VARCHAR},
			</if>
			<if test="state != null">
				state = #{state,jdbcType=VARCHAR},
			</if>
			<if test="wrh != null and wrh.uuid != null">
				wrhuuid = #{wrh.uuid,jdbcType=VARCHAR},
			</if>
			<if test="wrh != null and wrh.code != null">
				wrhcode = #{wrh.code,jdbcType=VARCHAR},
			</if>
			<if test="wrh != null and wrh.name != null">
				wrhname = #{wrh.name,jdbcType=VARCHAR},
			</if>
			<if test="receiver != null and receiver.uuid != null">
				receiveruuid = #{receiver.uuid,jdbcType=VARCHAR},
			</if>
			<if test="receiver != null and receiver.code != null">
				receivercode = #{receiver.code,jdbcType=VARCHAR},
			</if>
			<if test="receiver != null and receiver.name != null">
				receivername = #{receiver.name,jdbcType=VARCHAR},
			</if>
			<if test="orderBillNumber != null">
				orderBillNumber = #{orderBillNumber,jdbcType=VARCHAR},
			</if>
			<if test="method != null">
				method = #{method,jdbcType=VARCHAR},
			</if>
			<if test="caseQtyStr != null">
				caseQtyStr = #{caseQtyStr,jdbcType=VARCHAR},
			</if>
			<if test="totalAmount != null">
				totalAmount= #{totalAmount,jdbcType=DECIMAL},
			</if>
			remark = #{remark,jdbcType=VARCHAR},
			LASTMODIFYTIME =
			#{lastModifyInfo.time,jdbcType=TIMESTAMP},
			LASTMODIFYID =
			#{lastModifyInfo.operator.id,jdbcType=VARCHAR},
			LASTMODIFYCODE =
			#{lastModifyInfo.operator.code,jdbcType=VARCHAR},
			LASTMODIFYNAME =
			#{lastModifyInfo.operator.fullName,jdbcType=VARCHAR},
			version =
			#{version, jdbcType=LONGVARCHAR} + 1
		</set>
		<where>
			UUID = #{uuid,jdbcType=VARCHAR} and version =
			#{version,jdbcType=LONGVARCHAR}
		</where>
	</update>

	<select id="get" resultMap="ReceiveBillMap" parameterType="java.util.Map">
		select t.* from db_proxy.sardine_receivebill
		t
		where t.uuid
		=
		#{uuid,jdbcType=VARCHAR}
	</select>

	<select id="getByBillNumber" resultMap="ReceiveBillMap"
		parameterType="java.util.Map">
		select t.* from db_proxy.sardine_receivebill t
		where
		t.billNumber =
		#{billNumber,jdbcType=VARCHAR} and t.companyUuid =
		#{companyUuid,jdbcType=VARCHAR}
	</select>

	<select id="query" resultMap="ReceiveBillMap" parameterType="PageQueryDefinition">
		select t.*
		from
		db_proxy.sardine_receivebill
		t where 1=1
		<if test="billNumber != null and billNumber != ''">
			and t.billNumber like CONCAT(CONCAT('%',
			#{billNumber,jdbcType=VARCHAR}),
			'%')
		</if>
		<if test="companyUuid != null and companyUuid != ''">
			and t.companyUuid=#{companyUuid,jdbcType=VARCHAR}
		</if>
		<if test="state != null">
			and t.state = #{state,jdbcType=VARCHAR}
		</if>
		<if test="supplier != null and supplier != ''">
			and t.suppliercode =
			#{supplier,jdbcType=VARCHAR}
		</if>
		<if test="wrh != null and wrh != ''">
			and t.wrhCode = #{wrh, jdbcType=VARCHAR}
		</if>
		<if test="orderBill != null and orderBill != ''">
			and t.orderBillNumber like CONCAT(CONCAT('%',
			#{orderBill,jdbcType=VARCHAR}),
			'%')
		</if>
		<if test="articleCode != null and articleCode != ''">
			and EXISTS(
			select 1 from db_proxy.sardine_receivebillitem
			i
			where i.receiveBillUuid=t.uuid and 
			i.articlecode
			like
			CONCAT(CONCAT('%',#{articleCode,jdbcType=VARCHAR}),'%')
			)
		</if>
		<if test="containerBarcode != null and containerBarcode != ''">
			and EXISTS(
			select 1 from db_proxy.sardine_receivebillitem
			i
			where i.receiveBillUuid=t.uuid and 
			i.containerBarcode
			like
			CONCAT(CONCAT('%',#{containerBarcode,jdbcType=VARCHAR}),'%')
			)
		</if>
		<if test="receiverCode != null and receiverCode != ''">
			and t.receivercode like
			CONCAT(CONCAT('%',#{receiverCode,jdbcType=VARCHAR},'%'))
		</if>
		<if test="sortField != null and sortField == 'billNumber'">
			order by t.billNumber ${orderDir}
		</if>
		<if test="sortField != null and sortField == 'orderBill'">
			order by t.orderBillNumber ${orderDir}
		</if>
		<if test="sortField != null and sortField == 'supplierCode'">
			order by t.supplierCode ${orderDir}
		</if>
		<if test="sortField != null and sortField == 'caseQtyStr'">
			order by t.caseQtyStr ${orderDir}
		</if>
	</select>

	<delete id="remove" parameterType="java.util.Map">
		delete from
		db_proxy.sardine_receivebill
		where uuid =
		#{uuid,jdbcType=VARCHAR}
		and
		version =
		#{version,jdbcType=LONGVARCHAR}
	</delete>

	<insert id="insertItems"
		parameterType="com.hd123.sardine.wms.api.in.receive.ReceiveBillItem">
		insert into db_proxy.sardine_receivebillItem
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="uuid != null">
				uuid,
			</if>
			<if test="receiveBillUuid != null">
				receiveBillUuid,
			</if>
			<if test="line != null">
				line,
			</if>
			<if test="binCode != null">
				binCode,
			</if>
			<if test="qpcStr != null">
				qpcStr,
			</if>
			<if test="qty != null">
				qty,
			</if>
			<if test="caseQtyStr != null">
				caseQtyStr,
			</if>
			<if test="produceDate != null">
				produceDate,
			</if>
			<if test="validDate != null">
				validDate,
			</if>
			<if test="receiveDate != null">
				receiveDate,
			</if>
			<if test="stockBatch != null">
				stockBatch,
			</if>
			<if test="containerBarcode != null">
				containerBarcode,
			</if>
			<if test="article != null and article.uuid != null">
				articleUuid,
			</if>
			<if test="article != null and article.code != null">
				articleCode,
			</if>
			<if test="article != null and article.name != null">
				articleName,
			</if>
			<if test="articleSpec != null">
				articleSpec,
			</if>
			<if test="munit != null">
				munit,
			</if>
			<if test="orderBillLineUuid != null">
				orderBillLineUuid,
			</if>
			<if test="price != null">
				price,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="uuid != null">
				#{uuid,jdbcType=VARCHAR},
			</if>
			<if test="receiveBillUuid != null">
				#{receiveBillUuid,jdbcType=VARCHAR},
			</if>
			<if test="line != null">
				#{line,jdbcType=INTEGER},
			</if>
			<if test="binCode != null">
				#{binCode,jdbcType=VARCHAR},
			</if>
			<if test="qpcStr != null">
				#{qpcStr,jdbcType=VARCHAR},
			</if>
			<if test="qty != null">
				#{qty,jdbcType=DECIMAL},
			</if>
			<if test="caseQtyStr != null">
				#{caseQtyStr,jdbcType=VARCHAR},
			</if>
			<if test="produceDate != null">
				#{produceDate,jdbcType=TIMESTAMP},
			</if>
			<if test="validDate != null">
				#{validDate,jdbcType=TIMESTAMP},
			</if>
			<if test="receiveDate != null">
				#{receiveDate,jdbcType=TIMESTAMP},
			</if>
			<if test="stockBatch != null">
				#{stockBatch,jdbcType=VARCHAR},
			</if>
			<if test="containerBarcode != null">
				#{containerBarcode,jdbcType=VARCHAR},
			</if>
			<if test="article != null and article.uuid != null">
				#{article.uuid,jdbcType=VARCHAR},
			</if>
			<if test="article != null and article.code != null">
				#{article.code,jdbcType=VARCHAR},
			</if>
			<if test="article != null and article.name != null">
				#{article.name,jdbcType=VARCHAR},
			</if>
			<if test="articleSpec != null">
				#{articleSpec,jdbcType=VARCHAR},
			</if>
			<if test="munit != null">
				#{munit,jdbcType=VARCHAR},
			</if>
			<if test="orderBillLineUuid != null">
				#{orderBillLineUuid,jdbcType=VARCHAR},
			</if>
			<if test="price != null">
				#{price,jdbcType=DECIMAL},
			</if>
		</trim>
	</insert>

	<select id="queryItems" resultMap="ReceiveBillItemMap"
		parameterType="java.util.Map">
		select t.* from
		db_proxy.sardine_receivebillItem t
		where
		t.receiveBillUuid =
		#{receiveBillUuid,jdbcType=VARCHAR}
	</select>

	<delete id="removeItems" parameterType="java.util.Map">
		delete from
		db_proxy.sardine_receivebillItem
		where receiveBillUuid =
		#{receiveBillUuid,jdbcType=VARCHAR}
	</delete>
</mapper>
