<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hd123.sardine.wms.dao.basicInfo.seq.impl.SequenceDaoImpl">
	<select id="getNextValue" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		select sardine_nextValue(#{seqName,jdbcType=VARCHAR}, #{companyUuid,jdbcType=VARCHAR})
	</select>
	
	<select id="getCurrentValue" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		select sardine_currval(#{seqName,jdbcType=VARCHAR}, #{companyUuid,jdbcType=VARCHAR})
	</select>

	<select id="getCurrentValueWithDate" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		select sardine_datecurrval(#{seqName,jdbcType=VARCHAR}, #{companyUuid,jdbcType=VARCHAR})
	</select>
	
	<select id="getNextValueWithDate" parameterType="java.util.Map"
		resultType="java.lang.Integer">
		select sardine_datenextValue(#{seqName,jdbcType=VARCHAR},#{companyUuid,jdbcType=VARCHAR})
	</select>
	
	<select id="getCurrDatePart" parameterType="java.util.Map"
		resultType="java.lang.String">
	    select max(t.datePart) from sardine_datesequence t where t.sequencename = #{seqName,jdbcType=VARCHAR} 
	       and t.companyUuid = #{companyUuid,jdbcType=VARCHAR}
	</select>
</mapper>