<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.hd123.sardine.wms.dao.tms.vehicletype.impl.VehicleTypeDaoImpl">
	<resultMap type="com.hd123.sardine.wms.api.tms.vehicletype.VehicleType"
		id="BaseResultMap">
		<id column="uuid" property="uuid" jdbcType="VARCHAR" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="bearWeight" property="bearWeight" jdbcType="DECIMAL" />
		<result column="weight" property="weight" jdbcType="DECIMAL" />
		<result column="length" property="length" jdbcType="DECIMAL" />
		<result column="width" property="width" jdbcType="DECIMAL" />
		<result column="height" property="height" jdbcType="DECIMAL" />
		<result column="volume" property="volume" jdbcType="DECIMAL" />
		<result column="bearVolume" property="bearVolume" jdbcType="DECIMAL" />
		<result column="companyUuid" property="companyUuid" jdbcType="VARCHAR" />
		<result column="version" property="version" jdbcType="LONGVARCHAR" />
		<result column="createdtime" property="createInfo.time"
			jdbcType="TIMESTAMP" />
		<result column="createdID" property="createInfo.operator.id"
			jdbcType="VARCHAR" />
		<result column="createdcode" property="createInfo.operator.code"
			jdbcType="VARCHAR" />
		<result column="createdName" property="createInfo.operator.fullName"
			jdbcType="VARCHAR" />
		<result column="lastModifytime" property="lastModifyInfo.time"
			jdbcType="TIMESTAMP" />
		<result column="lastModifyid" property="lastModifyInfo.operator.id"
			jdbcType="VARCHAR" />
		<result column="lastModifycode" property="lastModifyInfo.operator.code"
			jdbcType="VARCHAR" />
		<result column="lastModifyname" property="lastModifyInfo.operator.fullName"
			jdbcType="VARCHAR" />
	</resultMap>

	<select id="getByCode" parameterType="java.util.Map" resultMap="BaseResultMap">
		select t.* from db_proxy.sardine_vehicletype t where
		t.code=#{code,jdbcType=VARCHAR} and
		t.companyUuid=#{companyUuid,jdbcType=VARCHAR}
	</select>

	<insert id="insert"
		parameterType="com.hd123.sardine.wms.api.tms.vehicletype.VehicleType">
		insert into db_proxy.sardine_vehicletype
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="uuid != null">
				uuid,
			</if>
			<if test="code != null">
				code,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="bearWeight != null">
				bearWeight,
			</if>
			<if test="weight != null">
				weight,
			</if>
			<if test="length != null">
				length,
			</if>
			<if test="width != null">
				width,
			</if>
			<if test="height != null">
				height,
			</if>
			<if test="volume != null">
				volume,
			</if>
			<if test="bearVolume != null">
				bearVolume,
			</if>
			<if test="companyUuid != null">
				companyUuid,
			</if>
			version,
			CREATEDTIME,
			CREATEDID,
			CREATEDCODE,
			CREATEDNAME,
			LASTMODIFYTIME,
			LASTMODIFYID,
			LASTMODIFYCODE,
			LASTMODIFYNAME,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="uuid != null">
				#{uuid,jdbcType=VARCHAR},
			</if>
			<if test="code != null">
				#{code,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="bearWeight != null">
				#{bearWeight,jdbcType=DECIMAL},
			</if>
			<if test="weight != null">
				#{weight,jdbcType=DECIMAL},
			</if>
			<if test="length != null">
				#{length,jdbcType=DECIMAL},
			</if>
			<if test="width != null">
				#{width,jdbcType=DECIMAL},
			</if>
			<if test="height != null">
				#{height,jdbcType=DECIMAL},
			</if>
			<if test="volume != null">
				#{volume,jdbcType=DECIMAL},
			</if>
			<if test="bearVolume != null">
				#{bearVolume,jdbcType=DECIMAL},
			</if>
			<if test="companyUuid != null">
				#{companyUuid,jdbcType=VARCHAR},
			</if>
			#{version,jdbcType=LONGVARCHAR},
			#{createInfo.time,jdbcType=TIMESTAMP},
			#{createInfo.operator.id,jdbcType=VARCHAR},
			#{createInfo.operator.code,jdbcType=VARCHAR},
			#{createInfo.operator.fullName,jdbcType=VARCHAR},
			#{lastModifyInfo.time,jdbcType=TIMESTAMP},
			#{lastModifyInfo.operator.id,jdbcType=VARCHAR},
			#{lastModifyInfo.operator.code,jdbcType=VARCHAR},
			#{lastModifyInfo.operator.fullName,jdbcType=VARCHAR},
		</trim>
	</insert>

	<select id="get" parameterType="java.lang.String" resultMap="BaseResultMap">
		select t.* from db_proxy.sardine_vehicletype t where
		t.uuid=#{uuid,jdbcType=VARCHAR}
	</select>

	<update id="update"
		parameterType="com.hd123.sardine.wms.api.tms.vehicletype.VehicleType">
		update db_proxy.sardine_vehicletype
		<set>
			<if test="code != null">
				code=#{code,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				name=#{name,jdbcType=VARCHAR},
			</if>
			<if test="bearWeight != null">
				bearWeight=#{bearWeight,jdbcType=DECIMAL},
			</if>
			<if test="weight != null">
				weight=#{weight,jdbcType=DECIMAL},
			</if>
			<if test="length != null">
				length=#{length,jdbcType=DECIMAL},
			</if>
			<if test="width != null">
				width=#{width,jdbcType=DECIMAL},
			</if>
			<if test="height != null">
				height=#{height,jdbcType=DECIMAL},
			</if>
			<if test="volume != null">
				volume=#{volume,jdbcType=DECIMAL},
			</if>
			<if test="bearVolume != null">
				bearVolume=#{bearVolume,jdbcType=DECIMAL},
			</if>
			LASTMODIFYTIME =
			#{lastModifyInfo.time,jdbcType=TIMESTAMP},
			LASTMODIFYID =
			#{lastModifyInfo.operator.id,jdbcType=VARCHAR},
			LASTMODIFYCODE =
			#{lastModifyInfo.operator.code,jdbcType=VARCHAR},
			LASTMODIFYNAME =
			#{lastModifyInfo.operator.fullName,jdbcType=VARCHAR},
			version =
			#{version, jdbcType=LONGVARCHAR} + 1
		</set>
		<where>
			uuid = #{uuid,jdbcType=VARCHAR} and version =
			#{version,jdbcType=LONGVARCHAR}
		</where>
	</update>

	<delete id="remove" parameterType="java.util.Map">
		delete from
		db_proxy.sardine_vehicletype where uuid=#{uuid,jdbcType=VARCHAR} and
		version=#{version,jdbcType=LONGVARCHAR}
	</delete>

	<select id="queryByPage" parameterType="PageQueryDefinition"
		resultMap="BaseResultMap">
		select * from db_proxy.sardine_vehicletype t where 1
		<if test="companyUuid != null">
			and t.companyUuid=#{companyUuid,jdbcType=VARCHAR}
		</if>
	</select>
</mapper>