<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.hd123.sardine.wms.dao.rtn.rtnsupplierntc.impl.RtnSupplierNtcBillDaoImpl">
	<resultMap
		type="com.hd123.sardine.wms.api.rtn.rtnsupplierntc.RtnSupplierNtcBill"
		id="BillMap">
		<id column="uuid" property="uuid" jdbcType="VARCHAR" />
		<result column="billNumber" property="billNumber" jdbcType="VARCHAR" />
		<result column="state" property="state" jdbcType="VARCHAR" />
		<result column="supplierUuid" property="supplier.uuid"
			jdbcType="VARCHAR" />
		<result column="supplierCode" property="supplier.code"
			jdbcType="VARCHAR" />
		<result column="supplierName" property="supplier.name"
			jdbcType="VARCHAR" />
		<result column="wrhUuid" property="wrh.uuid" jdbcType="VARCHAR" />
		<result column="wrhCode" property="wrh.code" jdbcType="VARCHAR" />
		<result column="wrhName" property="wrh.name" jdbcType="VARCHAR" />
		<result column="sourceBillUuid" property="sourceBill.billUuid"
			jdbcType="VARCHAR" />
		<result column="sourceBillNumber" property="sourceBill.billNumber"
			jdbcType="VARCHAR" />
		<result column="sourceBillType" property="sourceBill.billType"
			jdbcType="VARCHAR" />
		<result column="rtnDate" property="rtnDate" jdbcType="TIMESTAMP" />
		<result column="totalCaseQtyStr" property="totalCaseQtyStr"
			jdbcType="VARCHAR" />
		<result column="totalAmount" property="totalAmount" jdbcType="DECIMAL" />
		<result column="unshelvedCaseQtyStr" property="unshelvedCaseQtyStr"
			jdbcType="VARCHAR" />
		<result column="unshelvedAmount" property="unshelvedAmount"
			jdbcType="DECIMAL" />
		<result column="remark" property="remark" jdbcType="VARCHAR" />
		<result column="version" property="version" jdbcType="LONGVARCHAR" />
		<result column="createdtime " property="createInfo.time"
			jdbcType="TIMESTAMP" />
		<result column="createdID" property="createInfo.operator.id"
			jdbcType="VARCHAR" />
		<result column="createdcode" property="createInfo.operator.code"
			jdbcType="VARCHAR" />
		<result column="createdName" property="createInfo.operator.fullName"
			jdbcType="VARCHAR" />
		<result column="lastModifytime" property="lastModifyInfo.time"
			jdbcType="TIMESTAMP" />
		<result column="lastModifyid" property="lastModifyInfo.operator.id"
			jdbcType="VARCHAR" />
		<result column="lastModifycode" property="lastModifyInfo.operator.code"
			jdbcType="VARCHAR" />
		<result column="lastModifyname" property="lastModifyInfo.operator.fullName"
			jdbcType="VARCHAR" />
	</resultMap>

	<resultMap
		type="com.hd123.sardine.wms.api.rtn.rtnsupplierntc.RtnSupplierNtcBillItem"
		id="BillItemMap">
		<id column="uuid" property="uuid" jdbcType="VARCHAR" />
		<result column="rtnSupplierNtcBillUuid" property="rtnSupplierNtcBillUuid"
			jdbcType="VARCHAR" />
		<result column="articleUuid" property="article.uuid" jdbcType="VARCHAR" />
		<result column="articleCode" property="article.code" jdbcType="VARCHAR" />
		<result column="articleName" property="article.name" jdbcType="VARCHAR" />
		<result column="qpcStr" property="qpcStr" jdbcType="VARCHAR" />
		<result column="munit" property="munit" jdbcType="VARCHAR" />
		<result column="qty" property="qty" jdbcType="DECIMAL" />
		<result column="caseQtyStr" property="caseQtyStr" jdbcType="VARCHAR" />
		<result column="price" property="price" jdbcType="DECIMAL" />
		<result column="rtnReason" property="rtnReason" jdbcType="VARCHAR" />
		<result column="unshelvedQty" property="unshelvedQty" jdbcType="DECIMAL" />
		<result column="unshelvedCaseQtyStr" property="unshelvedCaseQtyStr"
			jdbcType="VARCHAR" />
	</resultMap>
	
	<resultMap id="StockMap" type="Stock">
		<id column="uuid" property="uuid" jdbcType="VARCHAR" />
		<result column="version" property="version" jdbcType="LONGVARCHAR" />
		<result column="owner" property="stockComponent.owner"
			jdbcType="VARCHAR" />
		<result column="companyUuid" property="stockComponent.companyUuid"
			jdbcType="VARCHAR" />
		<result column="supplierUuid" property="stockComponent.supplier.uuid"
			jdbcType="VARCHAR" />
		<result column="supplierCode" property="stockComponent.supplier.code"
			jdbcType="VARCHAR" />
		<result column="supplierName" property="stockComponent.supplier.name"
			jdbcType="VARCHAR" />
		<result column="binCode" property="stockComponent.binCode"
			jdbcType="VARCHAR" />
		<result column="containerBarcode" property="stockComponent.containerBarcode"
			jdbcType="VARCHAR" />
		<result column="articleUuid" property="stockComponent.article.uuid"
			jdbcType="VARCHAR" />
		<result column="articleCode" property="stockComponent.article.code"
			jdbcType="VARCHAR" />
		<result column="articleName" property="stockComponent.article.name"
			jdbcType="VARCHAR" />
		<result column="articleSpec" property="stockComponent.articleSpec"
			jdbcType="VARCHAR" />
		<result column="productionBatch" property="stockComponent.productionBatch"
			jdbcType="VARCHAR" />
		<result column="stockBatch" property="stockComponent.stockBatch"
			jdbcType="VARCHAR" />
		<result column="state" property="stockComponent.state"
			jdbcType="VARCHAR" />
		<result column="billUuid" property="stockComponent.sourceBill.billUuid"
			jdbcType="VARCHAR" />
		<result column="billNumber" property="stockComponent.sourceBill.billNumber"
			jdbcType="VARCHAR" />
		<result column="billType" property="stockComponent.sourceBill.billType"
			jdbcType="VARCHAR" />
		<result column="operatebillUuid" property="stockComponent.operateBill.billUuid"
			jdbcType="VARCHAR" />
		<result column="operatebillNumber" property="stockComponent.operateBill.billNumber"
			jdbcType="VARCHAR" />
		<result column="operatebillType" property="stockComponent.operateBill.billType"
			jdbcType="VARCHAR" />
		<result column="qty" property="stockComponent.qty" jdbcType="DECIMAL" />
		<result column="price" property="stockComponent.price" jdbcType="DECIMAL" />
		<result column="qpcStr" property="stockComponent.qpcStr"
			jdbcType="VARCHAR" />
		<result column="munit" property="stockComponent.munit"
			jdbcType="VARCHAR" />
		<result column="productionDate" property="stockComponent.productionDate"
			jdbcType="DATE" />
		<result column="validDate" property="stockComponent.validDate"
			jdbcType="DATE" />
		<result column="instockTime" property="stockComponent.instockTime"
			jdbcType="TIMESTAMP" />
		<result column="modified" property="modified" jdbcType="TIMESTAMP" />
	</resultMap>

	<select id="queryByPage" parameterType="PageQueryDefinition"
		resultMap="BillMap">
		select t.*, w.code wrhCode, w.name wrhName
		from
		db_proxy.SARDINE_RTNSUPPLIERNTCBILL t,
		db_proxy.sardine_wrh w
		where
		t.wrhuuid
		=w.uuid
		<if test="billNumberLike != null and billNumberLike != ''">
			and t.billNumber like CONCAT(CONCAT('%',
			#{billNumberLike,jdbcType=VARCHAR}),
			'%')
		</if>
		<if test="stateEquals != null">
			and t.state = #{stateEquals,jdbcType=VARCHAR}
		</if>
		<if test="supplierCodeLike != null">
			and t.supplierCode like CONCAT(CONCAT('%',
			#{supplierCodeLike,jdbcType=VARCHAR}),
			'%')
		</if>
		<if test="supplierNameLike">
			and t.supplierName like CONCAT(CONCAT('%',
			#{supplierNameLike,jdbcType=VARCHAR}),
			'%')
		</if>
		<if test="sourceBillNumberLike != null ">
			and t.sourcebillNumber like CONCAT(CONCAT('%',
			#{sourceBillNumberLike,jdbcType=VARCHAR}),
			'%')
		</if>
		<if test="wrhEquals != null">
			and t.wrhUuid=(select a.uuid from db_proxy.sardine_wrh a
			where a.code=#{wrhEquals,jdbcType=VARCHAR})
		</if>
		<if test="articleCodeContain != null">
			and EXISTS (select 1 from db_proxy.sardine_article
			a,db_proxy.SARDINE_RTNSUPPLIERNTCBILLitem i
			where a.uuid=i.articleuuid
			and
			a.code=
			#{articleCodeContain,jdbcType=VARCHAR})
		</if>
		<if test="articleNameContain != null">
			and EXISTS (select 1 from db_proxy.sardine_article
			a,db_proxy.SARDINE_RTNSUPPLIERNTCBILLitem i
			where a.uuid=i.articleuuid
			and
			a.name=
			#{articleNameContain,jdbcType=VARCHAR})
		</if>
		<if test="companyUuid != null">
			and t.companyuuid=#{companyUuid,jdbcType=VARCHAR}
		</if>
		<if test="rtnDateLessThan != null">
			and t.rtnDate <![CDATA[<=]]>
			#{rtnDateLessThan,jdbcType=TIMESTAMP}
		</if>
		<if test="rtnDateMoreThan != null">
			and t.rtnDate >=
			#{rtnDateMoreThan,jdbcType=TIMESTAMP}
		</if>
		<if test="sortField != null and sortField == 'billNumber'">
			order by t.billNumber ${orderDir}
		</if>
		<if test="sortField != null and sortField == 'state'">
			order by t.state ${orderDir}
		</if>
		<if test="sortField != null and sortField == 'customer'">
			order by t.customerCode ${orderDir}
		</if>
	</select>

	<insert id="insert"
		parameterType="com.hd123.sardine.wms.api.rtn.rtnsupplierntc.RtnSupplierNtcBill">
		insert into db_proxy.sardine_rtnsupplierntcbill
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="uuid != null">
				uuid,
			</if>
			<if test="billNumber != null">
				billNumber,
			</if>
			<if test="state != null">
				state,
			</if>
			<if test="sourceBill != null and sourceBill.billUuid != null">
				sourceBillUuid,
			</if>
			<if test="sourceBill != null and sourceBill.billType != null">
				sourceBillType,
			</if>
			<if test="sourceBill != null and sourceBill.billNumber != null">
				sourceBillNumber,
			</if>
			<if test="wrh != null and wrh.uuid != null">
				wrhuuid,
			</if>
			<if test="wrh != null and wrh.code != null">
				wrhcode,
			</if>
			<if test="wrh != null and wrh.name != null">
				wrhname,
			</if>
			<if test="companyUuid != null">
				companyUuid,
			</if>
			<if test="supplier!= null and supplier.uuid != null">
				supplierUuid,
			</if>
			<if test="supplier!= null and supplier.code != null">
				supplierCode,
			</if>
			<if test="supplier!= null and supplier.name != null">
				supplierName,
			</if>
			<if test="rtnDate != null">
				rtnDate,
			</if>
			<if test="totalCaseQtyStr != null">
				totalCaseQtyStr,
			</if>
			<if test="unshelvedCaseQtyStr != null">
				unshelvedCaseQtyStr,
			</if>
			<if test="realCaseQtyStr != null">
				realCaseQtyStr,
			</if>
			<if test="totalAmount != null">
				totalAmount,
			</if>
			<if test="unshelvedAmount != null">
				unshelvedAmount,
			</if>
			<if test="realAmount != null">
				realAmount,
			</if>
			<if test="remark != null">
				remark,
			</if>
			version,
			CREATEDTIME,
			CREATEDID,
			CREATEDCODE,
			CREATEDNAME,
			LASTMODIFYTIME,
			LASTMODIFYID,
			LASTMODIFYCODE,
			LASTMODIFYNAME,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="uuid != null">
				#{uuid,jdbcType=VARCHAR},
			</if>
			<if test="billNumber != null">
				#{billNumber,jdbcType=VARCHAR},
			</if>
			<if test="state != null">
				#{state,jdbcType=VARCHAR},
			</if>
			<if test="sourceBill != null and sourceBill.billUuid != null">
				#{sourceBill.billUuid,jdbcType=VARCHAR},
			</if>
			<if test="sourceBill != null and sourceBill.billType != null">
				#{sourceBill.billType,jdbcType=VARCHAR},
			</if>
			<if test="sourceBill != null and sourceBill.billNumber != null">
				#{sourceBill.billNumber,jdbcType=VARCHAR},
			</if>
			<if test="wrh != null and wrh.uuid != null">
				#{wrh.uuid,jdbcType=VARCHAR},
			</if>
			<if test="wrh != null and wrh.code != null">
				#{wrh.code,jdbcType=VARCHAR},
			</if>
			<if test="wrh != null and wrh.name != null">
				#{wrh.name,jdbcType=VARCHAR},
			</if>
			<if test="companyUuid != null">
				#{companyUuid,jdbcType=VARCHAR},
			</if>
			<if test="supplier!= null and supplier.uuid != null">
				#{supplier.uuid,jdbcType=VARCHAR},
			</if>
			<if test="supplier!= null and supplier.code != null">
				#{supplier.code,jdbcType=VARCHAR},
			</if>
			<if test="supplier!= null and supplier.name != null">
				#{supplier.name,jdbcType=VARCHAR},
			</if>
			<if test="rtnDate != null">
				#{rtnDate,jdbcType=TIMESTAMP},
			</if>
			<if test="totalCaseQtyStr != null">
				#{totalCaseQtyStr,jdbcType=VARCHAR},
			</if>
			<if test="unshelvedCaseQtyStr != null">
				#{unshelvedCaseQtyStr,jdbcType=VARCHAR},
			</if>
			<if test="realCaseQtyStr != null">
				#{realCaseQtyStr,jdbcType=VARCHAR},
			</if>
			<if test="totalAmount != null">
				#{totalAmount,jdbcType=DECIMAL},
			</if>
			<if test="unshelvedAmount != null">
				#{unshelvedAmount,jdbcType=DECIMAL},
			</if>
			<if test="realAmount != null">
				#{realAmount,jdbcType=DECIMAL},
			</if>
			<if test="remark != null">
				#{remark,jdbcType=VARCHAR},
			</if>
			#{version,jdbcType=LONGVARCHAR},
			#{createInfo.time,jdbcType=TIMESTAMP},
			#{createInfo.operator.id,jdbcType=VARCHAR},
			#{createInfo.operator.code,jdbcType=VARCHAR},
			#{createInfo.operator.fullName,jdbcType=VARCHAR},
			#{lastModifyInfo.time,jdbcType=TIMESTAMP},
			#{lastModifyInfo.operator.id,jdbcType=VARCHAR},
			#{lastModifyInfo.operator.code,jdbcType=VARCHAR},
			#{lastModifyInfo.operator.fullName,jdbcType=VARCHAR},
		</trim>
	</insert>

	<insert id="insert_items"
		parameterType="com.hd123.sardine.wms.api.rtn.rtnsupplierntc.RtnSupplierNtcBillItem">
		insert into db_proxy.sardine_rtnsupplierntcbillitem
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="uuid != null and uuid != ''">
				uuid,
			</if>
			<if test="rtnSupplierNtcBillUuid != null">
				rtnSupplierNtcBillUuid,
			</if>
			<if test="line != null">
				line,
			</if>
			<if test="article != null and article.uuid != null">
				articleUuid,
			</if>
			<if test="article != null and article.code != null">
				articlecode,
			</if>
			<if test="article != null and article.name != null">
				articlename,
			</if>
			<if test="qpcStr != null">
				qpcStr,
			</if>
			<if test="qty != null">
				qty,
			</if>
			<if test="caseQtyStr != null">
				caseQtyStr,
			</if>
			<if test="rtnReason != null">
				rtnReason,
			</if>
			<if test="price != null">
				price,
			</if>
			<if test="amount != null">
				amount,
			</if>
			<if test="munit != null">
				munit,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="uuid != null and uuid != ''">
				#{uuid,jdbcType=VARCHAR},
			</if>
			<if test="rtnSupplierNtcBillUuid != null">
				#{rtnSupplierNtcBillUuid,jdbcType=VARCHAR},
			</if>
			<if test="line != null">
				#{line,jdbcType=INTEGER},
			</if>
			<if test="article != null and article.uuid != null">
				#{article.uuid,jdbcType=VARCHAR},
			</if>
			<if test="article != null and article.code != null">
				#{article.code,jdbcType=VARCHAR},
			</if>
			<if test="article != null and article.name != null">
				#{article.name,jdbcType=VARCHAR},
			</if>
			<if test="qpcStr != null">
				#{qpcStr,jdbcType=VARCHAR},
			</if>
			<if test="qty != null">
				#{qty,jdbcType=DECIMAL},
			</if>
			<if test="caseQtyStr != null">
				#{caseQtyStr,jdbcType=VARCHAR},
			</if>
			<if test="rtnReason != null">
				#{rtnReason,jdbcType=VARCHAR},
			</if>
			<if test="price != null">
				#{price,jdbcType=DECIMAL},
			</if>
			<if test="amount != null">
				#{amount,jdbcType=DECIMAL},
			</if>
			<if test="munit != null">
				#{munit,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>

	<select id="query_items" parameterType="java.lang.String"
		resultMap="BillItemMap">
		select t.* from
		db_proxy.sardine_rtnsupplierntcbillitem t
		where
		t.RTNSUPPLIERNTCBILLUUID=#{uuid,jdbcType=VARCHAR}
	</select>

	<select id="get" parameterType="java.lang.String" resultMap="BillMap">
		select t.* from
		db_proxy.sardine_rtnsupplierntcbill t where
		t.uuid=#{uuid,jdbcType=VARCHAR}
	</select>
	
	<select id="getByBillNumber" parameterType="java.util.Map" resultMap="BillMap">
		select t.* from
		db_proxy.sardine_rtnsupplierntcbill t where
		t.billnumber=#{billNumber,jdbcType=VARCHAR}
	 and t.companyUuid = #{companyUuid, jdbcType=VARCHAR}	
	</select>

	<update id="update"
		parameterType="com.hd123.sardine.wms.api.rtn.rtnsupplierntc.RtnSupplierNtcBill">
		update db_proxy.sardine_rtnsupplierntcbill
		<set>
			<if test="state != null">
				state = #{state,jdbcType=VARCHAR},
			</if>
			<if test="sourceBill != null and sourceBill.billType">
				sourceBillType = #{sourceBill.billType,jdbcType=VARCHAR},
			</if>
			<if test="sourceBill != null and sourceBill.billNumber != null">
				sourceBillNumber=#{sourceBill.billNumber,jdbcType=VARCHAR},
			</if>
			<if test="sourceBill != null and sourceBill.billUuid != null">
				sourceBillUuid=#{sourceBill.billUuid,jdbcType=VARCHAR},
			</if>
			<if test="wrh != null and wrh.uuid != null">
				wrhuuid=#{wrh.uuid,jdbcType=VARCHAR},
			</if>
			<if test="supplier!= null and supplier.uuid != null">
				supplieruuid=#{supplier.uuid,jdbcType=VARCHAR},
			</if>
			<if test="supplier!= null and supplier.code != null">
				suppliercode=#{supplier.code,jdbcType=VARCHAR},
			</if>
			<if test="supplier!= null and supplier.name != null">
				suppliername=#{supplier.name,jdbcType=VARCHAR},
			</if>
			<if test="rtnDate != null">
				rtnDate=#{rtnDate,jdbcType=TIMESTAMP},
			</if>
			<if test="totalCaseQtyStr != null">
				totalCaseQtyStr=#{totalCaseQtyStr,jdbcType=VARCHAR},
			</if>
			<if test="unshelvedCaseQtyStr != null">
				unshelvedCaseQtyStr=#{unshelvedCaseQtyStr,jdbcType=VARCHAR},
			</if>
			<if test="realCaseQtyStr != null">
				realCaseQtyStr=#{realCaseQtyStr,jdbcType=VARCHAR},
			</if>
			<if test="totalAmount != null">
				totalAmount=#{totalAmount,jdbcType=DECIMAL},
			</if>
			<if test="unshelvedAmount != null">
				unshelvedAmount=#{unshelvedAmount,jdbcType=DECIMAL},
			</if>
			<if test="realAmount != null">
				realAmount=#{realAmount,jdbcType=DECIMAL},
			</if>
			remark=#{remark,jdbcType=VARCHAR},
			LASTMODIFYTIME =
			#{lastModifyInfo.time,jdbcType=TIMESTAMP},
			LASTMODIFYID =
			#{lastModifyInfo.operator.id,jdbcType=VARCHAR},
			LASTMODIFYCODE =
			#{lastModifyInfo.operator.code,jdbcType=VARCHAR},
			LASTMODIFYNAME =
			#{lastModifyInfo.operator.fullName,jdbcType=VARCHAR},
			version =
			#{version, jdbcType=LONGVARCHAR} + 1
		</set>
		<where>
			UUID = #{uuid,jdbcType=VARCHAR} and version =
			#{version,jdbcType=LONGVARCHAR}
		</where>
	</update>

	<delete id="remove_items" parameterType="java.lang.String">
		delete from
		db_proxy.sardine_rtnsupplierntcbillitem where
		RTNSUPPLIERNTCBILLUUID=#{billUuid,jdbcType=VARCHAR}
	</delete>

	<delete id="remove" parameterType="java.util.Map">
		delete from
		db_proxy.sardine_rtnsupplierntcbill where
		uuid=#{uuid,jdbcType=VARCHAR} and
		version=#{version,jdbcType=LONGVARCHAR}
	</delete>

	<select id="get_item" parameterType="java.lang.String"
		resultMap="BillItemMap">
		select t.* from db_proxy.sardine_rtnsupplierntcbillitem t
		where t.uuid=#{uuid,jdbcType=VARCHAR}
	</select>

	<update id="updateItem" parameterType="com.hd123.sardine.wms.api.rtn.rtnsupplierntc.RtnSupplierNtcBillItem">
		update db_proxy.sardine_rtnsupplierntcbillitem 
		<set>
		  <if test="unshelvedQty != null">
		    UNSHELVEDQTY = #{unshelvedQty,jdbcType=DECIMAL},
		  </if>
		  <if test="realQty != null">
		    realQty = #{realQty,jdbcType=DECIMAL},
		  </if>
		  <if test="realCaseQtyStr != null">
		    realCaseQtyStr = #{realCaseQtyStr,jdbcType=VARCHAR},
		  </if>
		  <if test="unshelvedCaseQtyStr != null">
		    unshelvedCaseQtyStr = #{unshelvedCaseQtyStr,jdbcType=VARCHAR},
		  </if>
		</set>
		<where>
		   uuid = #{uuid, jdbcType=VARCHAR}
		</where>
	</update>
	
	<select id="queryWaitUnShelveStocks" parameterType="java.util.Map" resultMap="StockMap">
		select s.* from db_proxy.sardine_stock s,db_proxy.sardine_bin b where s.bincode = b.code 
and s.companyuuid = b.companyuuid and b.binusage = 'SupplierStorageBin'
and s.state = 'normal' and b.wrhuuid = #{wrhUuid, jdbcType=VARCHAR}
and s.ARTICLEUUID = #{articleUuid, jdbcType=VARCHAR} and s.SUPPLIERUUID = #{supplierUuid, jdbcType=VARCHAR}
	 </select>
</mapper>