<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hd123.sardine.wms.dao.ia.role.impl.RoleDaoImpl">
	<resultMap type="Role" id="BaseResultMap">
		<id column="uuid" property="uuid" jdbcType="VARCHAR" />
		<result column="companyuuid" property="companyUuid" jdbcType="VARCHAR" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="state" property="state" jdbcType="VARCHAR" />
		<result column="createdtime" property="createInfo.time"
			jdbcType="TIMESTAMP" />
		<result column="createdID" property="createInfo.operator.id"
			jdbcType="VARCHAR" />
		<result column="createdcode" property="createInfo.operator.code"
			jdbcType="VARCHAR" />
		<result column="createdName" property="createInfo.operator.fullName"
			jdbcType="VARCHAR" />
		<result column="lastModifytime" property="lastModifyInfo.time"
			jdbcType="TIMESTAMP" />
		<result column="lastModifyid" property="lastModifyInfo.operator.id"
			jdbcType="VARCHAR" />
		<result column="lastModifycode" property="lastModifyInfo.operator.code"
			jdbcType="VARCHAR" />
		<result column="lastModifyname" property="lastModifyInfo.operator.fullName"
			jdbcType="VARCHAR" />
		<result column="version" property="version" jdbcType="LONGVARCHAR" />
	</resultMap>

	<select id="get" parameterType="String" resultMap="BaseResultMap">
		select t.*
		from db_proxy.sardine_role t
		where t.uuid = #{uuid,jdbcType=VARCHAR}
	</select>

	<select id="getByCode" parameterType="map" resultMap="BaseResultMap">
		select
		t.*
		from db_proxy.sardine_role t
		where t.code = #{code,jdbcType=VARCHAR}
		and
		t.companyUuid=#{companyUuid,jdbcType=VARCHAR}
	</select>

	<select id="queryByPage" parameterType="PageQueryDefinition"
		resultMap="BaseResultMap">
		select t.*
		from db_proxy.sardine_role t
		where 1=1
		<if test="code != null">
			and t.code like CONCAT(CONCAT('%', #{code}),
			'%')
		</if>
		<if test="name != null">
			and t.name like CONCAT(CONCAT('%', #{name}),
			'%')
		</if>
		<if test="companyUuid != null">
			and t.companyUuid = #{companyUuid,jdbcType=VARCHAR}
		</if>
		<if test="state != null">
			and t.state = #{state,jdbcType=VARCHAR}
		</if>
		<if test="sortField != null and sortField == 'code'">
			order by t.code ${orderDir}
		</if>
		<if test="sortField != null and sortField == 'name'">
			order by t.name ${orderDir}
		</if>
	</select>

	<insert id="insert" parameterType="Role">
		insert into
		db_proxy.sardine_role (
		uuid,
		code,
		name,
		version,
		CREATEDTIME,
		CREATEDID,
		CREATEDCODE,
		CREATEDNAME,
		LASTMODIFYTIME,
		LASTMODIFYID,
		LASTMODIFYCODE,
		LASTMODIFYNAME,
		state,
		companyUuid
		)
		values (
		#{uuid,jdbcType=VARCHAR},
		#{code,jdbcType=VARCHAR},
		#{name,jdbcType=VARCHAR},
		#{version,jdbcType=LONGVARCHAR},
		#{createInfo.time,jdbcType=TIMESTAMP},
		#{createInfo.operator.id,jdbcType=VARCHAR},
		#{createInfo.operator.code,jdbcType=VARCHAR},
		#{createInfo.operator.fullName,jdbcType=VARCHAR},
		#{lastModifyInfo.time,jdbcType=TIMESTAMP},
		#{lastModifyInfo.operator.id,jdbcType=VARCHAR},
		#{lastModifyInfo.operator.code,jdbcType=VARCHAR},
		#{lastModifyInfo.operator.fullName,jdbcType=VARCHAR},
		#{state,jdbcType=VARCHAR},
		#{companyUuid,jdbcType=VARCHAR}
		)
	</insert>

	<update id="update" parameterType="Role">
		update db_proxy.sardine_role
		<set>
			code =
			#{code,jdbcType=VARCHAR},
			name =
			#{name,jdbcType=VARCHAR},
			state =
			#{state,jdbcType=CHAR},
			version =
			#{version,jdbcType=LONGVARCHAR} +
			1,
			<if test="lastModifyInfo != null and lastModifyInfo.time != null">
				LASTMODIFYTIME =
				#{lastModifyInfo.time,jdbcType=TIMESTAMP},
			</if>
			<if
				test="lastModifyInfo != null and lastModifyInfo.operator != null and lastModifyInfo.operator.id != null">
				LASTMODIFYID =
				#{lastModifyInfo.operator.id,jdbcType=VARCHAR},
			</if>
			<if
				test="lastModifyInfo != null and lastModifyInfo.operator != null and lastModifyInfo.operator.code != null">
				LASTMODIFYCODE =
				#{lastModifyInfo.operator.code,jdbcType=VARCHAR},
			</if>
			<if
				test="lastModifyInfo != null and lastModifyInfo.operator != null and lastModifyInfo.operator.fullName != null">
				LASTMODIFYNAME =
				#{lastModifyInfo.operator.fullName,jdbcType=VARCHAR},
			</if>
		</set>
		where uuid = #{uuid,jdbcType=VARCHAR}
		and version =
		#{version,jdbcType=LONGVARCHAR}
	</update>

	<delete id="remove" parameterType="map">
		delete from
		db_proxy.sardine_role
		where uuid=#{uuid,jdbcType=VARCHAR}
		and version =
		#{version,jdbcType=LONGVARCHAR}
	</delete>

	<select id="queryRolesByUser" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select * from db_proxy.sardine_role
		r,db_proxy.sardine_role_user ru
		where r.uuid=ru.roleuuid
		and
		ru.useruuid=#{userUuid,jdbcType=VARCHAR}
	</select>

	<delete id="removeRelationRoleAndUserByRole" parameterType="java.lang.String">
		delete from db_proxy.sardine_role_user where
		roleuuid=#{roleUuid,jdbcType=VARCHAR}
	</delete>

	<select id="queryAllRoleBycompany" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select * from db_proxy.sardine_role where
		companyUuid=#{companyUuid,jdbcType=VARCHAR}
	</select>

</mapper>
