<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hd123.sardine.wms.dao.ia.user.impl.CompanyDaoImpl">
	<resultMap type="Company" id="BaseResultMap">
		<id column="uuid" property="uuid" jdbcType="VARCHAR" />
		<result column="companycode" property="code" jdbcType="VARCHAR" />
		<result column="companyname" property="name" jdbcType="VARCHAR" />
		<result column="shortname" property="shortName" jdbcType="VARCHAR" />
		<result column="companytype" property="companyType" jdbcType="VARCHAR" />
		<result column="dctype" property="dcType" jdbcType="VARCHAR" />
		<result column="address" property="address" jdbcType="VARCHAR" />
		<result column="homepage" property="homePage" jdbcType="VARCHAR" />
		<result column="adminCode" property="adminCode" jdbcType="VARCHAR" />
		<result column="companytype" property="companyType" jdbcType="VARCHAR" />
		<result column="createdtime" property="createInfo.time"
			jdbcType="TIMESTAMP" />
		<result column="createdID" property="createInfo.operator.id"
			jdbcType="VARCHAR" />
		<result column="createdcode" property="createInfo.operator.code"
			jdbcType="VARCHAR" />
		<result column="createdName" property="createInfo.operator.fullName"
			jdbcType="VARCHAR" />
		<result column="lastModifytime" property="lastModifyInfo.time"
			jdbcType="TIMESTAMP" />
		<result column="lastModifyid" property="lastModifyInfo.operator.id"
			jdbcType="VARCHAR" />
		<result column="lastModifycode" property="lastModifyInfo.operator.code"
			jdbcType="VARCHAR" />
		<result column="lastModifyname" property="lastModifyInfo.operator.fullName"
			jdbcType="VARCHAR" />
		<result column="version" property="version" jdbcType="LONGVARCHAR" />
		<result column="acreage" property="acreage" jdbcType="DECIMAL" />
	</resultMap>

	<insert id="insert" parameterType="Company">
		insert into
		sardine_company
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="uuid != null">
				uuid,
			</if>
			<if test="code != null">
				companycode,
			</if>
			<if test="name != null">
				companyname,
			</if>
			<if test="shortName != null">
				shortName,
			</if>
			<if test="companyType != null">
				companytype,
			</if>
			<if test="dcType != null">
				dcType,
			</if>
			<if test="adminCode != null">
				adminCode,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="homePage != null">
				homepage,
			</if>
			<if test="acreage != null">
				acreage,
			</if>
			version,
			CREATEDTIME,
			CREATEDID,
			CREATEDCODE,
			CREATEDNAME,
			LASTMODIFYTIME,
			LASTMODIFYID,
			LASTMODIFYCODE,
			LASTMODIFYNAME,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="uuid != null">
				#{uuid,jdbcType=VARCHAR},
			</if>
			<if test="code != null">
				#{code,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="shortName != null">
				#{shortName,jdbcType=VARCHAR},
			</if>
			<if test="companyType != null">
				#{companyType,jdbcType=VARCHAR},
			</if>
			<if test="dcType != null">
				#{dcType,jdbcType=VARCHAR},
			</if>
			<if test="adminCode != null">
				#{adminCode,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="homePage != null">
				#{homePage,jdbcType=VARCHAR},
			</if>
			<if test="acreage != null">
				#{acreage,jdbcType=DECIMAL},
			</if>
			#{version,jdbcType=LONGVARCHAR},
			#{createInfo.time,jdbcType=TIMESTAMP},
			#{createInfo.operator.id,jdbcType=VARCHAR},
			#{createInfo.operator.code,jdbcType=VARCHAR},
			#{createInfo.operator.fullName,jdbcType=VARCHAR},
			#{lastModifyInfo.time,jdbcType=TIMESTAMP},
			#{lastModifyInfo.operator.id,jdbcType=VARCHAR},
			#{lastModifyInfo.operator.code,jdbcType=VARCHAR},
			#{lastModifyInfo.operator.fullName,jdbcType=VARCHAR},
		</trim>
	</insert>
	
	<update id="update" parameterType="Company">
	  update sardine_company u 
	  <set>
	    u.companyName = #{name,jdbcType=VARCHAR},
	    u.shortName = #{shortName,jdbcType=VARCHAR},
	    u.dcType = #{dcType,jdbcType=VARCHAR},
	    u.adminCode = #{adminCode,jdbcType=VARCHAR},
	    u.address = #{address,jdbcType=VARCHAR},
	    u.homePage = #{homePage,jdbcType=VARCHAR},
	    u.acreage = #{acreage,jdbcType=DECIMAL},
	    u.version = u.version + 1,
	    u.LASTMODIFYTIME = #{lastModifyInfo.time,jdbcType=TIMESTAMP},
		u.LASTMODIFYID = #{lastModifyInfo.operator.id,jdbcType=VARCHAR},
		u.LASTMODIFYCODE = #{lastModifyInfo.operator.code,jdbcType=VARCHAR},
		u.LASTMODIFYNAME = #{lastModifyInfo.operator.fullName,jdbcType=VARCHAR}, 
	  </set>
	  <where>
	    u.uuid = #{uuid, jdbcType=VARCHAR} and u.version = #{version, jdbcType=LONGVARCHAR}
	  </where>
	</update>

	<select id="getByName" parameterType="String" resultMap="BaseResultMap">
		select
		u.*
		from sardine_company u
		where u.companyname =
		#{name,jdbcType=VARCHAR}
	</select>

	<insert id="insertDBMap" parameterType="java.util.Map">
		insert into
		sardine_db(companyUuid, dbname)
		values(#{companyUuid,
		jdbcType=VARCHAR},
		#{dbName, jdbcType=VARCHAR})
	</insert>

	<select id="get" parameterType="java.lang.String" resultMap="BaseResultMap">
		select * from sardine_company u where u.uuid=#{uuid,jdbcType=VARCHAR}
	</select>
	
	<select id="queryCompanys" parameterType="java.lang.String" resultMap="BaseResultMap">
	    select * from sardine_company u where u.uuid like CONCAT(#{companyUuid},'%')
	</select>
</mapper>