<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.hd123.sardine.wms.dao.basicInfo.article.impl.ArticleDaoImpl">
	<resultMap id="BaseResultMap" type="Article">
		<id column="uuid" property="uuid" jdbcType="VARCHAR" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="spec" property="spec" jdbcType="VARCHAR" />
		<result column="categoryuuid" property="category.uuid"
			jdbcType="VARCHAR" />
		<result column="categorycode" property="category.code"
			jdbcType="VARCHAR" />
		<result column="categoryname" property="category.name"
			jdbcType="VARCHAR" />
		<result column="expflag" property="expflag" jdbcType="VARCHAR" />
		<result column="state" property="state" jdbcType="VARCHAR" />
		<result column="expDays" property="expDays" jdbcType="INTEGER" />
		<result column="companyUuid" property="companyUuid" jdbcType="VARCHAR" />
		<result column="createdtime" property="createInfo.time"
			jdbcType="TIMESTAMP" />
		<result column="createdID" property="createInfo.operator.id"
			jdbcType="VARCHAR" />
		<result column="createdcode" property="createInfo.operator.code"
			jdbcType="VARCHAR" />
		<result column="createdName" property="createInfo.operator.fullName"
			jdbcType="VARCHAR" />
		<result column="lastModifytime" property="lastModifyInfo.time"
			jdbcType="TIMESTAMP" />
		<result column="lastModifyid" property="lastModifyInfo.operator.id"
			jdbcType="VARCHAR" />
		<result column="lastModifycode" property="lastModifyInfo.operator.code"
			jdbcType="VARCHAR" />
		<result column="lastModifyname" property="lastModifyInfo.operator.fullName"
			jdbcType="VARCHAR" />
		<result column="version" property="version" jdbcType="LONGVARCHAR" />
	</resultMap>

	<select id="get" parameterType="String" resultMap="BaseResultMap">
		select u.*
		from db_proxy.sardine_article u
		where u.uuid = #{uuid,jdbcType=VARCHAR}
	</select>

	<select id="queryArticles" parameterType="map" resultMap="BaseResultMap">
		select u.*
		from db_proxy.sardine_article u
		where u.uuid in
		<foreach collection="articleUuids" item="item" index="index"
			open="(" separator="," close=")">
			#{item}
		</foreach>
	</select>

	<select id="getByCode" parameterType="map" resultMap="BaseResultMap">
		select
		u.*
		from db_proxy.sardine_article u
		where u.code = #{code,jdbcType=VARCHAR}
		and u.companyuuid = #{companyUuid, jdbcType=VARCHAR}
	</select>

	<select id="getByBarcode" parameterType="map" resultMap="BaseResultMap">
		select
		u.*
		from db_proxy.sardine_article u
		where u.companyuuid = #{companyUuid,
		jdbcType=VARCHAR}
		and exists (select 1 from
		db_proxy.sardine_article_barcode b where u.uuid = b.articleuuid
		and
		b.barcode = #{barcode,jdbcType=VARCHAR})
	</select>

	<insert id="insert" parameterType="Article">
		insert into
		db_proxy.sardine_article
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="uuid != null and uuid != ''">
				uuid,
			</if>
			<if test="code != null and code != ''">
				code,
			</if>
			<if test="name != null and name != ''">
				name,
			</if>
			<if test="spec != null and spec != ''">
				spec,
			</if>
			<if test="state != null">
				state,
			</if>
			<if test="expDays != null">
				expdays,
			</if>
			<if
				test="category != null and category.uuid != null and category.uuid !=''">
				categoryuuid,
			</if>
			<if
				test="category != null and category.code != null and category.code != ''">
				categorycode,
			</if>
			<if
				test="category != null and category.name != null and category.name != ''">
				categoryname,
			</if>
			<if test="expflag != null">
				expflag,
			</if>
			<if test="remark != null and remark != ''">
				remark,
			</if>
			<if test="secondCode != null and secondCode != ''">
				secondcode,
			</if>
			<if test="simpleName != null and simpleName != ''">
				simplename,
			</if>
			<if test="sellPrice != null">
				sellprice,
			</if>
			<if test="purchasePrice != null">
				purchaseprice,
			</if>
			<if test="habitat != null and habitat != ''">
				habitat,
			</if>
			<if test="size != null and size !=''">
				size,
			</if>
			<if test="companyUuid != null and companyUuid != ''">
				companyUuid,
			</if>
			<if test="stkLmtDays != null">
				stkLmtDays,
			</if>
			<if test="goodsRtnLmtDays != null">
				goodsRtnLmtDays,
			</if>
			<if test="alcLmtDays != null">
				alcLmtDays,
			</if>
			version,
			CREATEDTIME,
			CREATEDID,
			CREATEDCODE,
			CREATEDNAME,
			LASTMODIFYTIME,
			LASTMODIFYID,
			LASTMODIFYCODE,
			LASTMODIFYNAME,
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="uuid != null and uuid != ''">
				#{uuid,jdbcType=VARCHAR},
			</if>
			<if test="code != null and code != ''">
				#{code,jdbcType=VARCHAR},
			</if>
			<if test="name != null and name != ''">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="spec != null and spec != ''">
				#{spec,jdbcType=VARCHAR},
			</if>
			<if test="state != null">
				#{state,jdbcType=VARCHAR},
			</if>
			<if test="expDays != null">
				#{expDays,jdbcType=INTEGER},
			</if>
			<if
				test="category != null and category.uuid != null and category.uuid !=''">
				#{category.uuid,jdbcType=VARCHAR},
			</if>
			<if
				test="category != null and category.code != null and category.code != ''">
				#{category.code,jdbcType=VARCHAR},
			</if>
			<if
				test="category != null and category.name != null and category.name != ''">
				#{category.name,jdbcType=VARCHAR},
			</if>
			<if test="expflag != null">
				#{expflag,jdbcType=VARCHAR},
			</if>
			<if test="remark != null and remark != ''">
				#{remark,jdbcType=VARCHAR},
			</if>
			<if test="secondCode != null and secondCode != ''">
				#{secondCode,jdbcType=VARCHAR},
			</if>
			<if test="simpleName != null and simpleName != ''">
				#{simpleName,jdbcType=VARCHAR},
			</if>
			<if test="sellPrice != null">
				#{sellPrice,jdbcType=DECIMAL},
			</if>
			<if test="purchasePrice != null">
				#{purchasePrice,jdbcType=DECIMAL},
			</if>
			<if test="habitat != null and habitat != ''">
				#{habitat,jdbcType=VARCHAR},
			</if>
			<if test="size != null and size !=''">
				#{size,jdbcType=VARCHAR}
			</if>
			<if test="companyUuid != null and companyUuid != ''">
				#{companyUuid,jdbcType=VARCHAR},
			</if>
			<if test="stkLmtDays != null">
				#{stkLmtDays,jdbcType=INTEGER},
			</if>
			<if test="goodsRtnLmtDays != null">
				#{goodsRtnLmtDays,jdbcType=INTEGER},
			</if>
			<if test="alcLmtDays != null">
				#{alcLmtDays,jdbcType=INTEGER},
			</if>
			#{version,jdbcType=LONGVARCHAR},
			#{createInfo.time,jdbcType=TIMESTAMP},
			#{createInfo.operator.id,jdbcType=VARCHAR},
			#{createInfo.operator.code,jdbcType=VARCHAR},
			#{createInfo.operator.fullName,jdbcType=VARCHAR},
			#{lastModifyInfo.time,jdbcType=TIMESTAMP},
			#{lastModifyInfo.operator.id,jdbcType=VARCHAR},
			#{lastModifyInfo.operator.code,jdbcType=VARCHAR},
			#{lastModifyInfo.operator.fullName,jdbcType=VARCHAR},
		</trim>
	</insert>

	<update id="update" parameterType="Article">
		update db_proxy.sardine_article
		<set>
			code =
			#{code,jdbcType=VARCHAR},
			name =
			#{name,jdbcType=VARCHAR},
			spec =
			#{spec,jdbcType=VARCHAR},
			expdays = #{expDays,jdbcType=INTEGER},
			expflag =
			#{expflag,jdbcType=VARCHAR},
			state =
			#{state,jdbcType=VARCHAR},
			categoryuuid =
			#{category.uuid,jdbcType=VARCHAR},
			categorycode =
			#{category.code,jdbcType=VARCHAR},
			categoryname =
			#{category.name,jdbcType=VARCHAR},
			version =
			#{version,jdbcType=LONGVARCHAR} +
			1,
			remark =
			#{remark,jdbcType=VARCHAR},
			<if test="secondCode != null and secondCode != ''">
				secondCode=#{secondCode,jdbcType=VARCHAR},
			</if>
			<if test="simpleName != null and simpleName != ''">
				simpleName=#{simpleName,jdbcType=VARCHAR},
			</if>
			<if test="sellPrice != null">
				sellPrice=#{sellPrice,jdbcType=DECIMAL},
			</if>
			<if test="purchasePrice != null">
				purchasePrice=#{purchasePrice,jdbcType=DECIMAL},
			</if>
			<if test="habitat != null and habitat != ''">
				habitat=#{habitat,jdbcType=VARCHAR},
			</if>
			<if test="size != null and size != ''">
				size=#{size,jdbcType=VARCHAR},
			</if>
			<if test="stkLmtDays != null">
				stkLmtDays=#{stkLmtDays,jdbcType=INTEGER},
			</if>
			<if test="goodsRtnLmtDays != null">
				goodsRtnLmtDays=#{goodsRtnLmtDays,jdbcType=INTEGER},
			</if>
			<if test="alcLmtDays != null">
				alcLmtDays=#{alcLmtDays,jdbcType=INTEGER},
			</if>
			<if test="lastModifyInfo != null and lastModifyInfo.time != null">
				LASTMODIFYTIME =
				#{lastModifyInfo.time,jdbcType=TIMESTAMP},
			</if>
			<if
				test="lastModifyInfo != null and lastModifyInfo.operator != null and lastModifyInfo.operator.id != null">
				LASTMODIFYID =
				#{lastModifyInfo.operator.id,jdbcType=VARCHAR},
			</if>
			<if
				test="lastModifyInfo != null and lastModifyInfo.operator != null and lastModifyInfo.operator.code != null">
				LASTMODIFYCODE =
				#{lastModifyInfo.operator.code,jdbcType=VARCHAR},
			</if>
			<if
				test="lastModifyInfo != null and lastModifyInfo.operator != null and lastModifyInfo.operator.fullName != null">
				LASTMODIFYNAME =
				#{lastModifyInfo.operator.fullName,jdbcType=VARCHAR},
			</if>
		</set>
		where uuid = #{uuid,jdbcType=VARCHAR}
		and version =
		#{version,jdbcType=LONGVARCHAR}
	</update>

	<select id="queryByPage" parameterType="PageQueryDefinition"
		resultMap="BaseResultMap">
		select u.*
		from db_proxy.sardine_article u
		where 1=1
		<if test="code != null">
			and u.code like CONCAT(CONCAT('%', #{code}),
			'%')
		</if>
		<if test="name != null">
			and u.name like CONCAT(CONCAT('%', #{name}),
			'%')
		</if>
		<if test="companyUuid != null">
			and u.companyUuid = #{companyUuid,jdbcType=VARCHAR}
		</if>
		<if test="state != null">
			and u.state = #{state,jdbcType=VARCHAR}
		</if>
		<if test="sortField != null and sortField == 'code'">
			order by u.code ${orderDir}
		</if>
		<if test="sortField != null and sortField == 'name'">
			order by u.name ${orderDir}
		</if>
		<if test="sortField != null and sortField == 'createdtime'">
			order by u.createdtime ${orderDir}
		</if>
		<if test="sortField != null and sortField == 'lastModifytime'">
			order by u.lastModifytime ${orderDir}
		</if>
	</select>
</mapper>